In [108]:
import folium
import pandas as pd

In [109]:
la_coordinates = (34.0407, -118.2468)
restaurant_data = pd.read_csv('yelp_data.csv')
restaurant_data.head()

,category,is_closed,latitude,longitude,name,rating,review_count
0,southern,False,34.042333,-118.263475,NaN,2.5,249
1,tradamerican,NaN,34.090626,-118.345579,Mimimyunga,3.0,61
2,desserts,False,34.071340,-118.356870,NaN,3.0,1398
3,italian,False,34.059092,-118.420453,NaN,3.0,498
4,tradamerican,False,34.090626,-118.345579,NaN,3.0,61

In [110]:
# for speed purposes
MAX_RECORDS = 1000
  
# create empty map zoomed in on San Francisco
test = folium.Map(location=la_coordinates, zoom_start=12)

In [120]:
# import libraries
import folium
import pandas as pd
 
# Make a data frame with dots to show on the map
data = restaurant_data[['latitude','longitude']].head(20)
 
# Make an empty map
mapx = folium.Map(location=[34.0407, -118.2468], tiles="Mapbox Bright", zoom_start=12)
 
# I can add marker one by one on the map
for i in range(0,len(data)):
    folium.Marker([data.iloc[i]['longitude'], data.iloc[i]['latitude']]).add_to(m)
 

m.save('map1.html')

In [114]:
# add a marker for every record in the filtered data, use a clustered view
for key, each in restaurant_data.iterrows():
#     print(each[1]['long'],each[1]['lat'])
#    test.simple_marker(
#        location = [each[1]['longitude'],each[1]['latitude']], 
#        clustered_marker = True)    
  
#display(map)

# restaurant_data.head()

0
category        southern
is_closed          False
latitude         34.0423
longitude       -118.263
name                 NaN
rating               2.5
review_count         249
Name: 0, dtype: object
1
category        tradamerican
is_closed                NaN
latitude             34.0906
longitude           -118.346
name              Mimimyunga
rating                     3
review_count              61
Name: 1, dtype: object
2
category        desserts
is_closed          False
latitude         34.0713
longitude       -118.357
name                 NaN
rating                 3
review_count        1398
Name: 2, dtype: object
3
category        italian
is_closed         False
latitude        34.0591
longitude       -118.42
name                NaN
rating                3
review_count        498
Name: 3, dtype: object
4
category        tradamerican
is_closed              False
latitude             34.0906
longitude           -118.346
name                     NaN
rating                     3
review_count              61
Name: 4, dtype: object
5
category        szechuan
is_closed          False
latitude         34.0586
longitude       -118.419
name                 NaN
rating                 3
review_count         730
Name: 5, dtype: object
6
category        mexican
is_closed         False
latitude         34.045
longitude      -118.265
name                NaN
rating                3
review_count       1349
Name: 6, dtype: object
7
category        seafood
is_closed         False
latitude        34.0092
longitude      -118.339
name                NaN
rating                3
review_count        249
Name: 7, dtype: object
8
category           bars
is_closed         False
latitude        34.1012
longitude      -118.337
name                NaN
rating                3
review_count        724
Name: 8, dtype: object
9
category                              latin
is_closed                               NaN
latitude                            34.0452
longitude                          -118.328
name            The Sunset Trocadero Lounge
rating                                  3.5
review_count                             13
Name: 9, dtype: object
10
category        tradamerican
is_closed                NaN
latitude             34.0556
longitude           -118.275
name                  Jane Q
rating                   3.5
review_count             229
Name: 10, dtype: object
11
category        breakfast_brunch
is_closed                    NaN
latitude                 34.0738
longitude               -118.377
name                 L.A. Birria
rating                       3.5
review_count                 289
Name: 11, dtype: object
12
category                          thai
is_closed                          NaN
latitude                       34.0766
longitude                     -118.323
name            Da Pasquale Restaurant
rating                             3.5
review_count                       347
Name: 12, dtype: object
13
category                  italian
is_closed                     NaN
latitude                  34.0908
longitude                -118.278
name            Tengoku Ramen Bar
rating                        3.5
review_count                  378
Name: 13, dtype: object
14
category        tradamerican
is_closed                NaN
latitude             34.0608
longitude           -118.267
name            Nong La Cafe
rating                   3.5
review_count             401
Name: 14, dtype: object
15
category         tradamerican
is_closed                 NaN
latitude              34.0608
longitude            -118.267
name            Northern Cafe
rating                    3.5
review_count              401
Name: 15, dtype: object
16
category        tradamerican
is_closed                NaN
latitude             34.0608
longitude           -118.267
name             Noshi Sushi
rating                   3.5
review_count             402
Name: 16, dtype: object
17
category                       tradamerican
is_closed                               NaN
latitude                            34.0608
longitude                          -118.267
name            Oasis Mediterranean Cuisine
rating                                  3.5
review_count                            402
Name: 17, dtype: object
18
category         newamerican
is_closed                NaN
latitude             34.1199
longitude           -118.321
name            CALI PHO NIA
rating                   3.5
review_count             406
Name: 18, dtype: object
19
category          greek
is_closed           NaN
latitude        34.0739
longitude      -118.324
name              Tsuri
rating              3.5
review_count        411
Name: 19, dtype: object
20
category                      burgers
is_closed                         NaN
latitude                      34.0837
longitude                    -118.309
name            Eighth Street Soondae
rating                            3.5
review_count                      433
Name: 20, dtype: object
21
category                  burgers
is_closed                     NaN
latitude                  34.0837
longitude                -118.309
name            El Camaron Pelado
rating                        3.5
review_count                  433
Name: 21, dtype: object
22
category         peruvian
is_closed             NaN
latitude          34.0959
longitude        -118.326
name            Yang Chow
rating                3.5
review_count          442
Name: 22, dtype: object
23
category             tradamerican
is_closed                     NaN
latitude                  34.1054
longitude                -118.319
name            Market Provisions
rating                        3.5
review_count                  476
Name: 23, dtype: object
24
category        italian
is_closed           NaN
latitude        34.0719
longitude       -118.36
name               Dune
rating              3.5
review_count        490
Name: 24, dtype: object
25
category                                             mexican
is_closed                                                NaN
latitude                                             34.0245
longitude                                           -118.411
name            The Butcher, The Baker, The Cappuccino Maker
rating                                                   3.5
review_count                                             560
Name: 25, dtype: object
26
category                  mexican
is_closed                     NaN
latitude                  34.0245
longitude                -118.411
name            The Carving Board
rating                        3.5
review_count                  561
Name: 26, dtype: object
27
category                          seafood
is_closed                             NaN
latitude                          34.0662
longitude                        -118.238
name            Meizhou Dongpo Restaurant
rating                                3.5
review_count                          679
Name: 27, dtype: object
28
category            dimsum
is_closed              NaN
latitude           34.0655
longitude         -118.236
name            Michin Dak
rating                 3.5
review_count           704
Name: 28, dtype: object
29
category         dimsum
is_closed           NaN
latitude        34.0655
longitude      -118.236
name             Mignon
rating              3.5
review_count        705
Name: 29, dtype: object
30
category        gastropubs
is_closed              NaN
latitude            34.036
longitude         -118.233
name            Wafflejack
rating                 3.5
review_count           765
Name: 30, dtype: object
31
category                      seafood
is_closed                         NaN
latitude                      34.1014
longitude                    -118.326
name            Jack's Family Kitchen
rating                            3.5
review_count                      834
Name: 31, dtype: object
32
category        newamerican
is_closed               NaN
latitude            34.0508
longitude          -118.254
name                  Ebaes
rating                  3.5
review_count            841
Name: 32, dtype: object
33
category              coffee
is_closed                NaN
latitude             34.1054
longitude           -118.319
name            Din Tai Fung
rating                   3.5
review_count             853
Name: 33, dtype: object
34
category                           cajun
is_closed                            NaN
latitude                         34.0255
longitude                       -118.328
name            PASTA e PASTA by Allegro
rating                               3.5
review_count                         859
Name: 34, dtype: object
35
category                cajun
is_closed                 NaN
latitude              34.0255
longitude            -118.328
name            Pasta Sisters
rating                    3.5
review_count              859
Name: 35, dtype: object
36
category                      mexican
is_closed                         NaN
latitude                      34.0433
longitude                    -118.264
name            Doomie's Home Cookin'
rating                            3.5
review_count                      880
Name: 36, dtype: object
37
category           mexican
is_closed              NaN
latitude           34.0433
longitude         -118.264
name            Doshi Fish
rating                 3.5
review_count           881
Name: 37, dtype: object
38
category           mexican
is_closed              NaN
latitude           34.0572
longitude         -118.238
name            The Parlor
rating                 3.5
review_count           928
Name: 38, dtype: object
39
category                          mexican
is_closed                             NaN
latitude                          34.0572
longitude                        -118.238
name            The Penthouse at Mastro's
rating                                3.5
review_count                          928
Name: 39, dtype: object
40
category             mexican
is_closed                NaN
latitude             34.0572
longitude           -118.238
name            The Pie Hole
rating                   3.5
review_count             930
Name: 40, dtype: object
41
category          mexican
is_closed             NaN
latitude          34.0572
longitude        -118.238
name            The Pikey
rating                3.5
review_count          930
Name: 41, dtype: object
42
category             japanese
is_closed                 NaN
latitude              34.0488
longitude            -118.241
name            The Doughroom
rating                    3.5
review_count              997
Name: 42, dtype: object
43
category                     japanese
is_closed                         NaN
latitude                      34.0488
longitude                    -118.241
name            The Dragon and Meeple
rating                            3.5
review_count                      997
Name: 43, dtype: object
44
category        mexican
is_closed           NaN
latitude        34.0468
longitude      -118.282
name              Terra
rating              3.5
review_count       1003
Name: 44, dtype: object
45
category            mexican
is_closed               NaN
latitude            34.0468
longitude          -118.282
name            Terra Cotta
rating                  3.5
review_count           1004
Name: 45, dtype: object
46
category               mexican
is_closed                  NaN
latitude               34.0468
longitude             -118.282
name            TGI Korean BBQ
rating                     3.5
review_count              1004
Name: 46, dtype: object
47
category               japanese
is_closed                   NaN
latitude                34.0394
longitude               -118.43
name            Ohana Superette
rating                      3.5
review_count               1012
Name: 47, dtype: object
48
category               japanese
is_closed                   NaN
latitude                34.0394
longitude               -118.43
name            Oi Asian Fusion
rating                      3.5
review_count               1012
Name: 48, dtype: object
49
category             steak
is_closed              NaN
latitude           34.0477
longitude         -118.261
name            Mapo Galbi
rating                 3.5
review_count          1050
Name: 49, dtype: object
50
category              sushi
is_closed               NaN
latitude            34.0488
longitude          -118.241
name            The Faculty
rating                  3.5
review_count           1315
Name: 50, dtype: object
51
category                 sushi
is_closed                  NaN
latitude               34.0488
longitude             -118.241
name            The Front Yard
rating                     3.5
review_count              1316
Name: 51, dtype: object
52
category                 sushi
is_closed                  NaN
latitude               34.0488
longitude             -118.241
name            The Grain Cafe
rating                     3.5
review_count              1316
Name: 52, dtype: object
53
category                   sushi
is_closed                    NaN
latitude                 34.0488
longitude               -118.241
name            The Griddle Cafe
rating                       3.5
review_count                1318
Name: 53, dtype: object
54
category              sushi
is_closed               NaN
latitude            34.0488
longitude          -118.241
name            The Griffin
rating                  3.5
review_count           1318
Name: 54, dtype: object
55
category        newamerican
is_closed               NaN
latitude            34.0565
longitude          -118.415
name                  Plato
rating                  3.5
review_count           1365
Name: 55, dtype: object
56
category        newamerican
is_closed               NaN
latitude            34.0565
longitude          -118.415
name                Poke Me
rating                  3.5
review_count           1365
Name: 56, dtype: object
57
category                  izakaya
is_closed                     NaN
latitude                  34.0454
longitude                -118.238
name            Public School 213
rating                        3.5
review_count                 1410
Name: 57, dtype: object
58
category                 italian
is_closed                    NaN
latitude                 34.1109
longitude               -118.287
name            Wah's Golden Hen
rating                       3.5
review_count                1530
Name: 58, dtype: object
59
category                      mexican
is_closed                         NaN
latitude                      34.0977
longitude                    -118.352
name            LA Number 1 Chueotang
rating                            3.5
review_count                     1586
Name: 59, dtype: object
60
category              mexican
is_closed                 NaN
latitude              34.0977
longitude            -118.352
name            La Numero Uno
rating                    3.5
review_count             1587
Name: 60, dtype: object
61
category          mexican
is_closed             NaN
latitude          34.0759
longitude        -118.349
name            LA Paella
rating                3.5
review_count         1665
Name: 61, dtype: object
62
category              mexican
is_closed                 NaN
latitude              34.0759
longitude            -118.349
name            La Pergoletta
rating                    3.5
review_count             1666
Name: 62, dtype: object
63
category                                 newamerican
is_closed                                        NaN
latitude                                     34.1021
longitude                                   -118.336
name            Carlitos Gardel Argentine Steakhouse
rating                                           3.5
review_count                                    1826
Name: 63, dtype: object
64
category                       newamerican
is_closed                              NaN
latitude                           34.1021
longitude                         -118.336
name            Carnes Asadas Pancho Lopez
rating                                 3.5
review_count                          1829
Name: 64, dtype: object
65
category                  newamerican
is_closed                         NaN
latitude                      34.1021
longitude                    -118.336
name            Carney's Sunset Strip
rating                            3.5
review_count                     1833
Name: 65, dtype: object
66
category                 steak
is_closed                  NaN
latitude               34.0956
longitude             -118.372
name            Employees Only
rating                     3.5
review_count              1841
Name: 66, dtype: object
67
category                    burgers
is_closed                       NaN
latitude                    34.1014
longitude                  -118.342
name            33 Taps Silver Lake
rating                          3.5
review_count                   1853
Name: 67, dtype: object
68
category                                   burgers
is_closed                                      NaN
latitude                                   34.1014
longitude                                 -118.342
name            6th & La Brea Brewery & Restaurant
rating                                         3.5
review_count                                  1854
Name: 68, dtype: object
69
category                        thai
is_closed                        NaN
latitude                     34.0985
longitude                   -118.304
name            Spitz - Little Tokyo
rating                           3.5
review_count                    1923
Name: 69, dtype: object
70
category                     thai
is_closed                     NaN
latitude                  34.0985
longitude                -118.304
name            Spitz - Los Feliz
rating                        3.5
review_count                 1924
Name: 70, dtype: object
71
category              gourmet
is_closed                 NaN
latitude              34.0596
longitude            -118.419
name            Kogi Taqueria
rating                    3.5
review_count             1933
Name: 71, dtype: object
72
category                  gourmet
is_closed                     NaN
latitude                  34.0596
longitude                -118.419
name            Koja Kitchen DTLA
rating                        3.5
review_count                 1934
Name: 72, dtype: object
73
category           bars
is_closed           NaN
latitude        34.0448
longitude       -118.25
name               Hash
rating              3.5
review_count       2184
Name: 73, dtype: object
74
category           bars
is_closed           NaN
latitude        34.0448
longitude       -118.25
name             Hasiba
rating              3.5
review_count       2184
Name: 74, dtype: object
75
category                  newamerican
is_closed                         NaN
latitude                       34.087
longitude                    -118.377
name            Burgerlords Chinatown
rating                            3.5
review_count                     2273
Name: 75, dtype: object
76
category                  newamerican
is_closed                         NaN
latitude                       34.087
longitude                    -118.377
name            Burgers Never Say Die
rating                            3.5
review_count                     2274
Name: 76, dtype: object
77
category                     brazilian
is_closed                          NaN
latitude                       34.0983
longitude                     -118.347
name            Daw Yee Myanmar Corner
rating                             3.5
review_count                      3062
Name: 77, dtype: object
78
category                                      brazilian
is_closed                                           NaN
latitude                                        34.0983
longitude                                      -118.347
name            Dedicated Danny's Bacon Wrapped Hotdogs
rating                                              3.5

234
category          steak
is_closed         False
latitude        34.0427
longitude      -118.264
name                NaN
rating              3.5
review_count        657
Name: 234, dtype: object
235
category        newamerican
is_closed               NaN
latitude            34.0637
longitude          -118.364
name            Pizzanista!
rating                    4
review_count              5
Name: 235, dtype: object
236
category             newamerican
is_closed                    NaN
latitude                 34.0637
longitude               -118.364
name            Pizzeria Il Fico
rating                         4
review_count                   5
Name: 236, dtype: object
237
category        cannabisdispensaries
is_closed                        NaN
latitude                     34.0927
longitude                   -118.344
name                     Yup Dduk La
rating                             4
review_count                       5
Name: 237, dtype: object
238
category        cannabisdispensaries
is_closed                        NaN
latitude                     34.0927
longitude                   -118.344
name            Yxta Cocina Mexicana
rating                             4
review_count                       8
Name: 238, dtype: object
239
category                              soup
is_closed                              NaN
latitude                           34.0665
longitude                         -118.309
name            Fat Sal's Deli - Hollywood
rating                                   4
review_count                             9
Name: 239, dtype: object
240
category        newamerican
is_closed               NaN
latitude            34.0341
longitude           -118.23
name              Ma'am Sir
rating                    4
review_count             14
Name: 240, dtype: object
241
category              bars
is_closed              NaN
latitude           34.1019
longitude         -118.336
name            République
rating                   4
review_count            17
Name: 241, dtype: object
242
category                               bars
is_closed                               NaN
latitude                            34.1019
longitude                          -118.336
name            Restaurante Tierra Caliente
rating                                    4
review_count                             18
Name: 242, dtype: object
243
category                                       bars
is_closed                                       NaN
latitude                                    34.1019
longitude                                  -118.336
name            Revolutionario: North African Tacos
rating                                            4
review_count                                     19
Name: 243, dtype: object
244
category                mexican
is_closed                   NaN
latitude                34.0515
longitude              -118.218
name            The Ramen Joint
rating                        4
review_count                 23
Name: 244, dtype: object
245
category        newamerican
is_closed               NaN
latitude            34.0905
longitude          -118.291
name               Burgerim
rating                    4
review_count             24
Name: 245, dtype: object
246
category          seafood
is_closed             NaN
latitude          34.0611
longitude        -118.293
name            Bon Temps
rating                  4
review_count           27
Name: 246, dtype: object
247
category                 korean
is_closed                   NaN
latitude                 34.058
longitude              -118.294
name            Osteria La Buca
rating                        4
review_count                 32
Name: 247, dtype: object
248
category               korean
is_closed                 NaN
latitude               34.058
longitude            -118.294
name            Osteria Mamma
rating                      4
review_count               33
Name: 248, dtype: object
249
category             tex-mex
is_closed                NaN
latitude              34.023
longitude           -118.395
name            Bacari W 3rd
rating                     4
review_count              42
Name: 249, dtype: object
250
category               italian
is_closed                  NaN
latitude               34.0766
longitude             -118.311
name            Beachwood Cafe
rating                       4
review_count                49
Name: 250, dtype: object
251
category          italian
is_closed             NaN
latitude          34.0766
longitude        -118.311
name            Beelman's
rating                  4
review_count           49
Name: 251, dtype: object
252
category                              chinese
is_closed                                 NaN
latitude                              34.0284
longitude                            -118.276
name            Bulan Thai Vegetarian Kitchen
rating                                      4
review_count                               58
Name: 252, dtype: object
253
category                     bbq
is_closed                    NaN
latitude                 34.0422
longitude               -118.309
name            Green Table Cafe
rating                         4
review_count                  62
Name: 253, dtype: object
254
category            bbq
is_closed           NaN
latitude        34.0422
longitude      -118.309
name               Grub
rating                4
review_count         62
Name: 254, dtype: object
255
category          japanese
is_closed              NaN
latitude           34.0751
longitude         -118.309
name            DTLA RAMEN
rating                   4
review_count            68
Name: 255, dtype: object
256
category                          japanese
is_closed                              NaN
latitude                           34.0751
longitude                         -118.309
name            Duidough Cafe & Cookie Lab
rating                                   4
review_count                            68
Name: 256, dtype: object
257
category                     african
is_closed                        NaN
latitude                     34.0527
longitude                   -118.375
name            Alcove Café & Bakery
rating                             4
review_count                      69
Name: 257, dtype: object
258
category                         african
is_closed                            NaN
latitude                         34.0527
longitude                       -118.375
name            Alchemist Coffee Project
rating                                 4
review_count                          71
Name: 258, dtype: object
259
category        newamerican
is_closed               NaN
latitude            34.1039
longitude          -118.325
name                   Slab
rating                    4
review_count             80
Name: 259, dtype: object
260
category                peruvian
is_closed                    NaN
latitude                 34.1501
longitude               -118.378
name            Yangji Gamjatang
rating                         4
review_count                  88
Name: 260, dtype: object
261
category        peruvian
is_closed            NaN
latitude         34.1501
longitude       -118.378
name            Yangmani
rating                 4
review_count          89
Name: 261, dtype: object
262
category          peruvian
is_closed              NaN
latitude           34.1501
longitude         -118.378
name            Yard House
rating                   4
review_count            89
Name: 262, dtype: object
263
category            soulfood
is_closed                NaN
latitude             34.0508
longitude           -118.362
name            Golden State
rating                     4
review_count              95
Name: 263, dtype: object
264
category               korean
is_closed                 NaN
latitude              34.0574
longitude            -118.307
name            Orochon Ramen
rating                      4
review_count              103
Name: 264, dtype: object
265
category                korean
is_closed                  NaN
latitude               34.0574
longitude             -118.307
name            Orsa & Winston
rating                       4
review_count               103
Name: 265, dtype: object
266
category                                korean
is_closed                                  NaN
latitude                               34.0551
longitude                             -118.292
name            Honey Bee's House of Breakfast
rating                                       4
review_count                               106
Name: 266, dtype: object
267
category        newamerican
is_closed               NaN
latitude            34.0956
longitude          -118.295
name              Magal BBQ
rating                    4
review_count            106
Name: 267, dtype: object
268
category           ramen
is_closed            NaN
latitude          34.062
longitude       -118.342
name            El Comal
rating                 4
review_count         108
Name: 268, dtype: object
269
category          korean
is_closed            NaN
latitude         34.0551
longitude       -118.292
name            Honey Hi
rating                 4
review_count         108
Name: 269, dtype: object
270
category                    newamerican
is_closed                           NaN
latitude                        34.0956
longitude                      -118.295
name            Maggiano's Little Italy
rating                                4
review_count                        108
Name: 270, dtype: object
271
category        newamerican
is_closed               NaN
latitude            34.0956
longitude          -118.295
name             Majangdong
rating                    4
review_count            109
Name: 271, dtype: object
272
category        burgers
is_closed           NaN
latitude        34.1043
longitude      -118.292
name             Rascal
rating                4
review_count        113
Name: 272, dtype: object
273
category                        korean
is_closed                          NaN
latitude                       34.0981
longitude                     -118.327
name            Charlie's Fish & Chips
rating                               4
review_count                       114
Name: 273, dtype: object
274
category            coffee
is_closed              NaN
latitude           34.0714
longitude         -118.344
name            Crawford's
rating                   4
review_count           116
Name: 274, dtype: object
275
category                 coffee
is_closed                   NaN
latitude                34.0714
longitude              -118.344
name            Crepes De Paris
rating                        4
review_count                116
Name: 275, dtype: object
276
category                        korean
is_closed                          NaN
latitude                        34.064
longitude                     -118.367
name            Men Oh Tokushima Ramen
rating                               4
review_count                       126
Name: 276, dtype: object
277
category                                     southern
is_closed                                         NaN
latitude                                      34.0248
longitude                                    -118.284
name            Rasselbock L.A. Kitchen & Beer Garden
rating                                              4
review_count                                      133
Name: 277, dtype: object
278
category        asianfusion
is_closed               NaN
latitude            34.0501
longitude          -118.258
name              The Edmon
rating                    4
review_count            147
Name: 278, dtype: object
279
category                 asianfusion
is_closed                        NaN
latitude                     34.0501
longitude                   -118.258
name            The Empanada Factory
rating                             4
review_count                     147
Name: 279, dtype: object
280
category                    asianfusion
is_closed                           NaN
latitude                        34.0501
longitude                      -118.258
name            The Exchange Restaurant
rating                                4
review_count                        149
Name: 280, dtype: object
281
category                asianfusion
is_closed                       NaN
latitude                    34.0501
longitude                  -118.258
name            The Factory Kitchen
rating                            4
review_count                    149
Name: 281, dtype: object
282
category                 seafood
is_closed                    NaN
latitude                 34.0762
longitude               -118.378
name            Genwa Korean BBQ
rating                         4
review_count                 151
Name: 282, dtype: object
283
category         korean
is_closed           NaN
latitude        34.0479
longitude      -118.326
name               Pace
rating                4
review_count        154
Name: 283, dtype: object
284
category                     korean
is_closed                       NaN
latitude                    34.0479
longitude                  -118.326
name            Pailin Thai Cuisine
rating                            4
review_count                    154
Name: 284, dtype: object
285
category           mexican
is_closed              NaN
latitude           34.0236
longitude         -118.265
name            Clementine
rating                   4
review_count           161
Name: 285, dtype: object
286
category               mexican
is_closed                  NaN
latitude               34.0236
longitude             -118.265
name            Cleo Hollywood
rating                       4
review_count               161
Name: 286, dtype: object
287
category                   gluten_free
is_closed                          NaN
latitude                       34.0529
longitude                     -118.257
name            BESTIES Vegan Paradise
rating                               4
review_count                       162
Name: 287, dtype: object
288
category         newamerican
is_closed                NaN
latitude             34.0888
longitude           -118.377
name            Coffee Attic
rating                     4
review_count             162
Name: 288, dtype: object
289
category                       french
is_closed                         NaN
latitude                      34.0838
longitude                    -118.324
name            Twozone Chicken - 8th
rating                              4
review_count                      162
Name: 289, dtype: object
290
category                 newamerican
is_closed                        NaN
latitude                     34.0888
longitude                   -118.377
name            Coffee For Breakfast
rating                             4
review_count                     163
Name: 290, dtype: object
291
category                      french
is_closed                        NaN
latitude                     34.0838
longitude                   -118.324
name            Tsurumaru Udon Honpo
rating                             4
review_count                     163
Name: 291, dtype: object
292
category             bakeries
is_closed                 NaN
latitude              34.1015
longitude            -118.302
name            Matjip Chigae
rating                      4
review_count              169
Name: 292, dtype: object
293
category            italian
is_closed               NaN
latitude            34.0835
longitude          -118.366
name            77 Kentucky
rating                    4
review_count            169
Name: 293, dtype: object
294
category        chicken_wings
is_closed                 NaN
latitude              34.0629
longitude            -118.306
name            The Apple Pan
rating                      4
review_count              172
Name: 294, dtype: object
295
category        chicken_wings
is_closed                 NaN
latitude              34.0629
longitude            -118.306
name            The Backhouse
rating                      4
review_count              172
Name: 295, dtype: object
296
category           cajun
is_closed            NaN
latitude         34.0109
longitude       -118.337
name            Elf Café
rating                 4
review_count         173
Name: 296, dtype: object
297
category               cajun
is_closed                NaN
latitude             34.0109
longitude           -118.337
name            Electric Owl
rating                     4
review_count             174
Name: 297, dtype: object
298
category           tradamerican
is_closed                   NaN
latitude                34.0739
longitude               -118.24
name            Joan's on Third
rating                        4
review_count                175
Name: 298, dtype: object
299
category         tradamerican
is_closed                 NaN
latitude              34.0739
longitude             -118.24
name            Joe's Falafel
rating                      4
review_count              175
Name: 299, dtype: object
300
category              mediterranean
is_closed                       NaN
latitude                    34.0249
longitude                  -118.285
name            Ghost Pizza Kitchen
rating                            4
review_count                    176
Name: 300, dtype: object
301
category        mediterranean
is_closed                 NaN
latitude              34.0249
longitude            -118.285
name              Ginza Ramen
rating                      4
review_count              177
Name: 301, dtype: object
302
category             mediterranean
is_closed                      NaN
latitude                   34.0249
longitude                 -118.285
name            Gizmo's Cereal Bar
rating                           4
review_count                   177
Name: 302, dtype: object
303
category         cocktailbars
is_closed                 NaN
latitude              34.0805
longitude             -118.27
name            Marugame Udon
rating                      4
review_count              184
Name: 303, dtype: object
304
category             cocktailbars
is_closed                     NaN
latitude                  34.0805
longitude                 -118.27
name            Masa of Echo Park
rating                          4
review_count                  184
Name: 304, dtype: object
305
category               mexican
is_closed                  NaN
latitude               34.0834
longitude             -118.314
name            BCD Tofu House
rating                       4
review_count               189
Name: 305, dtype: object
306
category        breakfast_brunch
is_closed                    NaN
latitude                 34.0621
longitude               -118.311
name                   Ktown Pho
rating                         4
review_count                 193
Name: 306, dtype: object
307
category        breakfast_brunch
is_closed                    NaN
latitude                 34.0621
longitude               -118.311
name             Kues Restaurant
rating                         4
review_count                 194
Name: 307, dtype: object
308
category                breakfast_brunch
is_closed                            NaN
latitude                         34.0621
longitude                       -118.311
name            Kura Revolving Sushi Bar
rating                                 4
review_count                         196
Name: 308, dtype: object
309
category         korean
is_closed           NaN
latitude        34.0627
longitude      -118.309
name              Somni
rating                4
review_count        197
Name: 309, dtype: object
310
category                 chinese
is_closed                    NaN
latitude                  34.066
longitude               -118.238
name            Mel's Fish Shack
rating                         4
review_count                 213
Name: 310, dtype: object
311
category           indpak
is_closed             NaN
latitude          34.0788
longitude        -118.361
name            Bon Shabu
rating                  4

Name: 509, dtype: object
510
category                   korean
is_closed                     NaN
latitude                  34.0631
longitude                -118.297
name            Gwen Butcher Shop
rating                          4
review_count                  728
Name: 510, dtype: object
511
category                       korean
is_closed                         NaN
latitude                      34.0631
longitude                    -118.297
name            Gyu-Kaku Japanese BBQ
rating                              4
review_count                      729
Name: 511, dtype: object
512
category          burgers
is_closed             NaN
latitude          34.0652
longitude        -118.237
name            El Carmen
rating                  4
review_count          732
Name: 512, dtype: object
513
category          burgers
is_closed             NaN
latitude          34.0652
longitude        -118.237
name            El Cartel
rating                  4
review_count          733
Name: 513, dtype: object
514
category        breakfast_brunch
is_closed                    NaN
latitude                 34.0327
longitude               -118.343
name             Qin West Noodle
rating                         4
review_count                 751
Name: 514, dtype: object
515
category              mexican
is_closed                 NaN
latitude              34.1526
longitude            -118.364
name            Fukurou Ramen
rating                      4
review_count              758
Name: 515, dtype: object
516
category                              mexican
is_closed                                 NaN
latitude                              34.1526
longitude                            -118.364
name            Full House Seafood Restaurant
rating                                      4
review_count                              759
Name: 516, dtype: object
517
category               burgers
is_closed                  NaN
latitude               34.0959
longitude             -118.372
name            Five Leaves LA
rating                       4
review_count               765
Name: 517, dtype: object
518
category               mexican
is_closed                  NaN
latitude               34.1015
longitude             -118.331
name            Fei Xiang Gong
rating                       4
review_count               768
Name: 518, dtype: object
519
category        mexican
is_closed           NaN
latitude        34.1015
longitude      -118.331
name              Feast
rating                4
review_count        769
Name: 519, dtype: object
520
category                  gastropubs
is_closed                        NaN
latitude                     34.0749
longitude                   -118.309
name            Chef Kang Food Rehab
rating                             4
review_count                     779
Name: 520, dtype: object
521
category             newamerican
is_closed                    NaN
latitude                 34.0914
longitude               -118.279
name            Mari Kimbap Shop
rating                         4
review_count                 784
Name: 521, dtype: object
522
category           thai
is_closed           NaN
latitude        34.0977
longitude      -118.336
name             Zinqué
rating                4
review_count        784
Name: 522, dtype: object
523
category                         mexican
is_closed                            NaN
latitude                         34.0572
longitude                       -118.238
name            H&H Brazilian Steakhouse
rating                                 4
review_count                         793
Name: 523, dtype: object
524
category                               indpak
is_closed                                 NaN
latitude                              34.0723
longitude                            -118.369
name            Lalibela Ethiopian Restaurant
rating                                      4
review_count                              793
Name: 524, dtype: object
525
category          indpak
is_closed            NaN
latitude         34.0723
longitude       -118.369
name            Langer's
rating                 4
review_count         794
Name: 525, dtype: object
526
category             brazilian
is_closed                  NaN
latitude               33.9993
longitude             -118.418
name            Electric Karma
rating                       4
review_count               805
Name: 526, dtype: object
527
category        breakfast_brunch
is_closed                    NaN
latitude                 34.0838
longitude               -118.274
name                 Wood & Vine
rating                         4
review_count                 809
Name: 527, dtype: object
528
category              breakfast_brunch
is_closed                          NaN
latitude                       34.0838
longitude                     -118.274
name            Wood Ranch BBQ & Grill
rating                               4
review_count                       809
Name: 528, dtype: object
529
category                 korean
is_closed                   NaN
latitude                34.0639
longitude              -118.295
name            Inti Restaurant
rating                        4
review_count                814
Name: 529, dtype: object
530
category                                korean
is_closed                                  NaN
latitude                               34.0639
longitude                             -118.295
name            Isaan Station Thai Street Food
rating                                       4
review_count                               814
Name: 530, dtype: object
531
category                  salad
is_closed                   NaN
latitude                34.0837
longitude              -118.341
name            Father's Office
rating                        4
review_count                821
Name: 531, dtype: object
532
category        mexican
is_closed           NaN
latitude        34.0339
longitude      -118.291
name            The Ivy
rating                4
review_count        827
Name: 532, dtype: object
533
category                 mexican
is_closed                    NaN
latitude                 34.0339
longitude               -118.291
name            The Joint Eatery
rating                         4
review_count                 827
Name: 533, dtype: object
534
category                               mexican
is_closed                                  NaN
latitude                               34.0339
longitude                             -118.291
name            The Kickin' Crab - Los Angeles
rating                                       4
review_count                               828
Name: 534, dtype: object
535
category                 mexican
is_closed                    NaN
latitude                 34.0339
longitude               -118.291
name            The Kickin’ Crab
rating                         4
review_count                 828
Name: 535, dtype: object
536
category             italian
is_closed                NaN
latitude             34.0979
longitude           -118.326
name            Little Fatty
rating                     4
review_count             838
Name: 536, dtype: object
537
category                            italian
is_closed                               NaN
latitude                            34.0979
longitude                          -118.326
name            Little Jewel of New Orleans
rating                                    4
review_count                            839
Name: 537, dtype: object
538
category        comfortfood
is_closed               NaN
latitude            34.0378
longitude          -118.243
name              High Tide
rating                    4
review_count            841
Name: 538, dtype: object
539
category              comfortfood
is_closed                     NaN
latitude                  34.0378
longitude                -118.243
name            HiHo Cheeseburger
rating                          4
review_count                  841
Name: 539, dtype: object
540
category         vietnamese
is_closed               NaN
latitude            34.1046
longitude           -118.33
name            Shaquille’s
rating                    4
review_count            841
Name: 540, dtype: object
541
category         vietnamese
is_closed               NaN
latitude            34.1046
longitude           -118.33
name            Shake Shack
rating                    4
review_count            842
Name: 541, dtype: object
542
category        gastropubs
is_closed              NaN
latitude           34.1053
longitude         -118.273
name             Ruen Pair
rating                   4
review_count           847
Name: 542, dtype: object
543
category            coffee
is_closed              NaN
latitude           34.1106
longitude         -118.287
name            Everytable
rating                   4
review_count           848
Name: 543, dtype: object
544
category                 coffee
is_closed                   NaN
latitude                34.1106
longitude              -118.287
name            Fabiolus Cucina
rating                        4
review_count                850
Name: 544, dtype: object
545
category              pubs
is_closed              NaN
latitude           34.1015
longitude         -118.323
name            Crab House
rating                   4
review_count           854
Name: 545, dtype: object
546
category           pubs
is_closed           NaN
latitude        34.1015
longitude      -118.323
name              Craft
rating                4
review_count        855
Name: 546, dtype: object
547
category        chicken_wings
is_closed                 NaN
latitude              34.0836
longitude            -118.343
name              Rice & Nori
rating                      4
review_count              855
Name: 547, dtype: object
548
category        chicken_wings
is_closed                 NaN
latitude              34.0836
longitude            -118.343
name                Rice Guys
rating                      4
review_count              855
Name: 548, dtype: object
549
category        chicken_wings
is_closed                 NaN
latitude              34.0836
longitude            -118.343
name                  RiceBox
rating                      4
review_count              856
Name: 549, dtype: object
550
category        chicken_wings
is_closed                 NaN
latitude              34.0836
longitude            -118.343
name               Rich's BBQ
rating                      4
review_count              856
Name: 550, dtype: object
551
category              korean
is_closed                NaN
latitude             34.0623
longitude           -118.298
name            Spoon & Pork
rating                     4
review_count             857
Name: 551, dtype: object
552
category            korean
is_closed              NaN
latitude           34.0623
longitude         -118.298
name            Spoon By H
rating                   4
review_count           858
Name: 552, dtype: object
553
category             vegan
is_closed              NaN
latitude           34.0564
longitude         -118.251
name            Biergarten
rating                   4
review_count           873
Name: 553, dtype: object
554
category               vegan
is_closed                NaN
latitude             34.0564
longitude           -118.251
name            Big Ants BBQ
rating                     4
review_count             875
Name: 554, dtype: object
555
category                                             bars
is_closed                                             NaN
latitude                                          34.0501
longitude                                        -118.241
name            Shin-Sen-Gumi Hakata Ramen - Little Tokyo
rating                                                  4
review_count                                          897
Name: 555, dtype: object
556
category                  bars
is_closed                  NaN
latitude               34.0501
longitude             -118.241
name            Shintaro Sushi
rating                       4
review_count               898
Name: 556, dtype: object
557
category            tacos
is_closed             NaN
latitude          34.0883
longitude        -118.326
name            El Zarape
rating                  4
review_count          900
Name: 557, dtype: object
558
category                       steak
is_closed                        NaN
latitude                     34.0523
longitude                   -118.256
name            The Sycamore Kitchen
rating                             4
review_count                     902
Name: 558, dtype: object
559
category                          steak
is_closed                           NaN
latitude                        34.0523
longitude                      -118.256
name            The Teriyaki House Pico
rating                                4
review_count                        903
Name: 559, dtype: object
560
category             steak
is_closed              NaN
latitude           34.0523
longitude         -118.256
name            The Trails
rating                   4
review_count           904
Name: 560, dtype: object
561
category                             korean
is_closed                               NaN
latitude                            34.0561
longitude                           -118.29
name            Home Restaurant - Los Feliz
rating                                    4
review_count                            909
Name: 561, dtype: object
562
category                        vegan
is_closed                         NaN
latitude                      34.0457
longitude                    -118.232
name            EMC Seafood & Raw Bar
rating                              4
review_count                      915
Name: 562, dtype: object
563
category          newamerican
is_closed                 NaN
latitude              34.1054
longitude            -118.319
name            Chosun Galbee
rating                      4
review_count              916
Name: 563, dtype: object
564
category        breakfast_brunch
is_closed                    NaN
latitude                 34.0468
longitude               -118.251
name                     Combo A
rating                         4
review_count                 923
Name: 564, dtype: object
565
category        breakfast_brunch
is_closed                    NaN
latitude                 34.0468
longitude               -118.251
name             Comfort Kitchen
rating                         4
review_count                 923
Name: 565, dtype: object
566
category        breakfast_brunch
is_closed                    NaN
latitude                 34.0468
longitude               -118.251
name                  Comfort LA
rating                         4
review_count                 928
Name: 566, dtype: object
567
category        breakfast_brunch
is_closed                    NaN
latitude                 34.0468
longitude               -118.251
name                   Commerson
rating                         4
review_count                 928
Name: 567, dtype: object
568
category        italian
is_closed           NaN
latitude         34.103
longitude      -118.292
name            Salazar
rating                4
review_count        945
Name: 568, dtype: object
569
category            italian
is_closed               NaN
latitude             34.103
longitude          -118.292
name            Salt's Cure
rating                    4
review_count            945
Name: 569, dtype: object
570
category            mexican
is_closed               NaN
latitude            34.0721
longitude          -118.367
name            La Chuperia
rating                    4
review_count            948
Name: 570, dtype: object
571
category        tradamerican
is_closed                NaN
latitude             34.1584
longitude            -118.37
name             S'moreology
rating                     4
review_count             973
Name: 571, dtype: object
572
category            tradamerican
is_closed                    NaN
latitude                 34.1584
longitude                -118.37
name            Sabor Colombiano
rating                         4
review_count                 974
Name: 572, dtype: object
573
category        sandwiches
is_closed              NaN
latitude           34.0837
longitude         -118.345
name             Asian Box
rating                   4
review_count           990
Name: 573, dtype: object
574
category        breakfast_brunch
is_closed                    NaN
latitude                 34.0908
longitude               -118.332
name                     KOBUNGA
rating                         4
review_count                 996
Name: 574, dtype: object
575
category              breakfast_brunch
is_closed                          NaN
latitude                       34.0908
longitude                     -118.332
name            Kogi BBQ Truck - Verde
rating                               4
review_count                       997
Name: 575, dtype: object
576
category           bakeries
is_closed               NaN
latitude            34.0603
longitude          -118.421
name            Ham Ji Park
rating                    4
review_count           1013
Name: 576, dtype: object
577
category            sushi
is_closed             NaN
latitude          34.0619
longitude        -118.346
name            Bento Man
rating                  4
review_count         1033
Name: 577, dtype: object
578
category                   mexican
is_closed                      NaN
latitude                   34.0532
longitude                 -118.257
name            Dave's Hot Chicken
rating                           4
review_count                  1051
Name: 578, dtype: object
579
category                 asianfusion
is_closed                        NaN
latitude                     34.0981
longitude                    -118.35
name            Grand Central Market
rating                             4
review_count                    1074
Name: 579, dtype: object
580
category             asianfusion
is_closed                    NaN
latitude                 34.0981
longitude                -118.35
name            Granny's Kitchen
rating                         4
review_count                1075
Name: 580, dtype: object
581
category                                 seafoodmarkets
is_closed                                           NaN
latitude                                        34.0408
longitude                                       -118.24
name            Madre Oaxacan Restaurant and Mezcaleria
rating                                                4
review_count                                       1099
Name: 581, dtype: object
582
category                  seafoodmarkets
is_closed                            NaN
latitude                         34.0408
longitude                        -118.24
name            Mae Ting's Coconut Cakes
rating                                 4
review_count                        1099
Name: 582, dtype: object
583
category          colombian
is_closed               NaN
latitude            34.0637
longitude          -118.297
name            Little Bear
rating                    4
review_count           1106
Name: 583, dtype: object
584
category             french
is_closed               NaN
latitude            34.0481
longitude          -118.248
name            un solo sol
rating                    4
review_count           1112
Name: 584, dtype: object
585
category                   french
is_closed                     NaN
latitude                  34.0481
longitude                -118.248
name            Uncle John’s Cafe
rating                          4
review_count                 1113
Name: 585, dtype: object
586
category                    french
is_closed                      NaN
latitude                   34.0481
longitude                 -118.248
name            Uovo- Mid-Wilshire
rating                           4
review_count                  1113
Name: 586, dtype: object
587
category            french
is_closed              NaN
latitude           34.0481

Name: 830, dtype: object
831
category                     italian
is_closed                        NaN
latitude                     34.0834
longitude                   -118.325
name            Chimney Coffee House
rating                             4
review_count                    1523
Name: 831, dtype: object
832
category                            tradamerican
is_closed                                    NaN
latitude                                 34.0511
longitude                               -118.254
name            Eagle Rock Italian Bakery & Deli
rating                                         4
review_count                                1708
Name: 832, dtype: object
833
category                         indpak
is_closed                           NaN
latitude                         34.051
longitude                      -118.245
name            Ekkamai Thai Restaurant
rating                                4
review_count                       1714
Name: 833, dtype: object
834
category         indonesian
is_closed               NaN
latitude            34.0291
longitude          -118.412
name            Moodaepo II
rating                    4
review_count           1471
Name: 834, dtype: object
835
category        vietnamese
is_closed              NaN
latitude           34.0673
longitude         -118.236
name            Castle BBQ
rating                   4
review_count          1378
Name: 835, dtype: object
836
category                   sushi
is_closed                    NaN
latitude                 34.0485
longitude                -118.24
name            KC's Crepes Cafe
rating                         4
review_count                1503
Name: 836, dtype: object
837
category              korean
is_closed                NaN
latitude             34.0579
longitude           -118.303
name            Braazo Pizza
rating                     4
review_count            1798
Name: 837, dtype: object
838
category               mexican
is_closed                  NaN
latitude               34.0715
longitude             -118.362
name            Roll Roll Roll
rating                       4
review_count              1106
Name: 838, dtype: object
839
category        cocktailbars
is_closed                NaN
latitude             34.0505
longitude           -118.244
name                    Food
rating                     4
review_count            1349
Name: 839, dtype: object
840
category          cocktailbars
is_closed                  NaN
latitude               34.0729
longitude             -118.375
name            Swingers Diner
rating                       4
review_count              1834
Name: 840, dtype: object
841
category               mediterranean
is_closed                        NaN
latitude                     34.0482
longitude                    -118.24
name            Top Round Roast Beef
rating                             4
review_count                    1594
Name: 841, dtype: object
842
category        brazilian
is_closed             NaN
latitude          34.0722
longitude        -118.361
name              Organix
rating                  4
review_count         1186
Name: 842, dtype: object
843
category             cuban
is_closed              NaN
latitude           34.0211
longitude         -118.404
name            HMS Bounty
rating                   4
review_count          2186
Name: 843, dtype: object
844
category                           italian
is_closed                              NaN
latitude                           34.0735
longitude                          -118.36
name            Rocco's Neighborhood Pizza
rating                                   4
review_count                          1797
Name: 844, dtype: object
845
category                     hawaiian
is_closed                         NaN
latitude                      34.0044
longitude                    -118.422
name            Sonoritas Prime Tacos
rating                              4
review_count                     1650
Name: 845, dtype: object
846
category             italian
is_closed                NaN
latitude             34.1048
longitude           -118.291
name            Millet Crepe
rating                     4
review_count            1473
Name: 846, dtype: object
847
category                      newamerican
is_closed                             NaN
latitude                          34.0507
longitude                         -118.24
name            Nishi Poke & Ramen Bistro
rating                                  4
review_count                         1096
Name: 847, dtype: object
848
category                    japanese
is_closed                        NaN
latitude                       34.04
longitude                   -118.443
name            Calavera Burrito Co.
rating                             4
review_count                    1240
Name: 848, dtype: object
849
category               burgers
is_closed                  NaN
latitude               34.0695
longitude             -118.276
name            Awesome Coffee
rating                       4
review_count              1207
Name: 849, dtype: object
850
category                         thai
is_closed                         NaN
latitude                       34.102
longitude                    -118.303
name            Baby's Badass Burgers
rating                              4
review_count                      888
Name: 850, dtype: object
851
category                          japanese
is_closed                              NaN
latitude                           34.0489
longitude                          -118.24
name            Dave's Gourmet Korean Food
rating                                   4
review_count                          1375
Name: 851, dtype: object
852
category         breakfast_brunch
is_closed                     NaN
latitude                   34.063
longitude                -118.306
name            Spring Street Bar
rating                          4
review_count                 1192
Name: 852, dtype: object
853
category        brazilian
is_closed             NaN
latitude          34.0419
longitude        -118.255
name            Honey Pig
rating                  4
review_count         1382
Name: 853, dtype: object
854
category                          korean
is_closed                            NaN
latitude                         34.0637
longitude                       -118.294
name            Raw Cane Super Juice Bar
rating                                 4
review_count                        1081
Name: 854, dtype: object
855
category        newamerican
is_closed               NaN
latitude            34.0953
longitude          -118.295
name                   BKLA
rating                    4
review_count           1634
Name: 855, dtype: object
856
category                indpak
is_closed                  NaN
latitude               34.0622
longitude             -118.348
name            I Love Sweetea
rating                       4
review_count              1257
Name: 856, dtype: object
857
category                        tradamerican
is_closed                                NaN
latitude                              34.094
longitude                           -118.328
name            Bossa Nova Brazilian Cuisine
rating                                     4
review_count                            1677
Name: 857, dtype: object
858
category              sushi
is_closed               NaN
latitude            34.0614
longitude          -118.309
name            Shaky Alibi
rating                    4
review_count           1311
Name: 858, dtype: object
859
category             izakaya
is_closed                NaN
latitude             34.0718
longitude           -118.365
name            Pepe's Tacos
rating                     4
review_count            1040
Name: 859, dtype: object
860
category                   mexican
is_closed                      NaN
latitude                   34.0215
longitude                 -118.403
name            Spoke Bicycle Cafe
rating                           4
review_count                  1591
Name: 860, dtype: object
861
category                         sushi
is_closed                          NaN
latitude                       34.0619
longitude                     -118.346
name            Choi Ga Nei Korean BBQ
rating                               4
review_count                      1032
Name: 861, dtype: object
862
category        cocktailbars
is_closed                NaN
latitude             34.0526
longitude           -118.263
name                  Diablo
rating                     4
review_count            1145
Name: 862, dtype: object
863
category          sushi
is_closed           NaN
latitude        34.0762
longitude      -118.305
name            My Thai
rating                4
review_count       1342
Name: 863, dtype: object
864
category                               sushi
is_closed                                NaN
latitude                             34.0453
longitude                           -118.238
name            Arctic Hotspot Bakery & Cafe
rating                                     4
review_count                            1032
Name: 864, dtype: object
865
category                     korean
is_closed                       NaN
latitude                    34.0691
longitude                  -118.307
name            Black Sheep Burgers
rating                            4
review_count                    853
Name: 865, dtype: object
866
category          ramen
is_closed           NaN
latitude        34.0379
longitude      -118.441
name               WP24
rating                4
review_count       1451
Name: 866, dtype: object
867
category            japanese
is_closed                NaN
latitude             34.0403
longitude           -118.443
name            Yang San Bak
rating                     4
review_count            1591
Name: 867, dtype: object
868
category         newamerican
is_closed                NaN
latitude             34.0494
longitude           -118.257
name            Kotoya Ramen
rating                     4
review_count            1755
Name: 868, dtype: object
869
category                           italian
is_closed                              NaN
latitude                           34.0389
longitude                         -118.236
name            Deli-cious Deli & Catering
rating                                   4
review_count                          1296
Name: 869, dtype: object
870
category               ramen
is_closed                NaN
latitude             34.0402
longitude           -118.442
name            Chicas Tacos
rating                     4
review_count            1692
Name: 870, dtype: object
871
category                     ramen
is_closed                      NaN
latitude                   34.0469
longitude                 -118.238
name            JJ's Sandwich Shop
rating                           4
review_count                  1212
Name: 871, dtype: object
872
category                   lounges
is_closed                      NaN
latitude                   34.0923
longitude                 -118.338
name            Tacos Villa Corona
rating                           4
review_count                  1049
Name: 872, dtype: object
873
category        newamerican
is_closed               NaN
latitude            34.0423
longitude          -118.254
name            Post & Beam
rating                    4
review_count           1340
Name: 873, dtype: object
874
category                           italian
is_closed                              NaN
latitude                           34.0786
longitude                         -118.361
name            Javista Organic Coffee Bar
rating                                   4
review_count                          1548
Name: 874, dtype: object
875
category         korean
is_closed           NaN
latitude        34.0616
longitude      -118.304
name            Deli-In
rating                4
review_count       1183
Name: 875, dtype: object
876
category            coffee
is_closed              NaN
latitude           34.0497
longitude         -118.242
name            Señor Fish
rating                   4
review_count           993
Name: 876, dtype: object
877
category          newamerican
is_closed                 NaN
latitude              34.0691
longitude            -118.226
name            Ramen of York
rating                      4
review_count              835
Name: 877, dtype: object
878
category                         latin
is_closed                          NaN
latitude                       34.0578
longitude                     -118.309
name            Crispy Crust Hollywood
rating                               4
review_count                       790
Name: 878, dtype: object
879
category                            steak
is_closed                             NaN
latitude                          34.0678
longitude                        -118.376
name            Spring Street Smoke House
rating                                  4
review_count                         3858
Name: 879, dtype: object
880
category           pubs
is_closed           NaN
latitude        34.0992
longitude      -118.259
name            Nabeeya
rating                4
review_count       1595
Name: 880, dtype: object
881
category            vegan
is_closed             NaN
latitude          34.0564
longitude        -118.251
name            Mr Churro
rating                  4
review_count          875
Name: 881, dtype: object
882
category                      italian
is_closed                         NaN
latitude                       34.103
longitude                    -118.292
name            Anzu Japanese Gourmet
rating                              4
review_count                      945
Name: 882, dtype: object
883
category             taiwanese
is_closed                  NaN
latitude               34.0582
longitude             -118.417
name            Xtiosu Kitchen
rating                       4
review_count              1131
Name: 883, dtype: object
884
category                      pizza
is_closed                       NaN
latitude                    34.0977
longitude                  -118.329
name            Mixto Comida Latina
rating                            4
review_count                   1164
Name: 884, dtype: object
885
category             pizza
is_closed              NaN
latitude            34.074
longitude         -118.324
name            Lock & Key
rating                   4
review_count          1427
Name: 885, dtype: object
886
category        breakfast_brunch
is_closed                    NaN
latitude                 34.0902
longitude               -118.278
name              Beauty & Essex
rating                         4
review_count                1628
Name: 886, dtype: object
887
category                      steak
is_closed                       NaN
latitude                    34.0447
longitude                  -118.265
name            Otomisan Restaurant
rating                            4
review_count                   1529
Name: 887, dtype: object
888
category                  vegan
is_closed                   NaN
latitude                34.0912
longitude              -118.279
name            Shamshiri Grill
rating                        4
review_count               1159
Name: 888, dtype: object
889
category          diners
is_closed            NaN
latitude         33.9779
longitude       -118.371
name            Honeymee
rating                 4
review_count        1171
Name: 889, dtype: object
890
category                         korean
is_closed                           NaN
latitude                        34.0594
longitude                      -118.289
name            Olive Bistro & Catering
rating                                4
review_count                       1025
Name: 890, dtype: object
891
category            diners
is_closed              NaN
latitude           34.0661
longitude         -118.233
name            Meatzilla!
rating                   4
review_count          1030
Name: 891, dtype: object
892
category                           juicebars
is_closed                                NaN
latitude                             34.0639
longitude                            -118.31
name            Glowing Juices/ Vegan Market
rating                                     4
review_count                             674
Name: 892, dtype: object
893
category              himalayan
is_closed                   NaN
latitude                34.0169
longitude              -118.411
name            RUBIES+DIAMONDS
rating                        4
review_count               1079
Name: 893, dtype: object
894
category                   italian
is_closed                      NaN
latitude                    34.051
longitude                 -118.258
name            El Huarache Azteca
rating                           4
review_count                  1531
Name: 894, dtype: object
895
category                                 vietnamese
is_closed                                       NaN
latitude                                    34.0472
longitude                                  -118.256
name            Cousins Maine Lobster - Los Angeles
rating                                            4
review_count                                   1449
Name: 895, dtype: object
896
category            spanish
is_closed               NaN
latitude              34.07
longitude          -118.377
name            Café Stella
rating                    4
review_count           3783
Name: 896, dtype: object
897
category                mexican
is_closed                   NaN
latitude                34.0391
longitude               -118.24
name            Pizza Next Door
rating                        4
review_count               1068
Name: 897, dtype: object
898
category                    newamerican
is_closed                           NaN
latitude                        34.0519
longitude                      -118.252
name            Portobanco's Restaurant
rating                                4
review_count                       1269
Name: 898, dtype: object
899
category                  pizza
is_closed                   NaN
latitude                34.0865
longitude              -118.376
name            Madame Monsieur
rating                        4
review_count               1099
Name: 899, dtype: object
900
category               thai
is_closed               NaN
latitude            34.0977
longitude          -118.336
name            Desert Rose
rating                    4
review_count            785
Name: 900, dtype: object
901
category         korean
is_closed           NaN
latitude        34.0619
longitude       -118.31
name              Asuka
rating                4
review_count        626
Name: 901, dtype: object
902
category        gluten_free
is_closed               NaN
latitude            34.0573
longitude          -118.443
name            Pizza Buona
rating                    4
review_count           1977
Name: 902, dtype: object
903
category                                coffee
is_closed                                  NaN
latitude                               34.1106
longitude                             -118.287
name            Jeff's Gourmet Sausage Factory
rating                                       4
review_count                               852
Name: 903, dtype: object
904
category              sushi
is_closed               NaN
latitude            34.0488
longitude          -118.251
name            U Pick Cafe
rating                    4
review_count            876
Name: 904, dtype: object
905
category                       thai
is_closed                       NaN
latitude                    34.0762
longitude                  -118.373
name            Urth Caffé- Melrose
rating                            4
review_count                    878
Name: 905, dtype: object
906
category                     french
is_closed                       NaN
latitude                    34.0842
longitude                  -118.338
name            BKK101 Thai Cuisine

Name: 1126, dtype: object
1127
category        southern
is_closed          False
latitude         34.0796
longitude       -118.361
name                 NaN
rating                 4
review_count         966
Name: 1127, dtype: object
1128
category        japanese
is_closed          False
latitude         33.9618
longitude       -118.421
name                 NaN
rating                 4
review_count        1405
Name: 1128, dtype: object
1129
category         korean
is_closed         False
latitude        34.0627
longitude      -118.309
name                NaN
rating                4
review_count        198
Name: 1129, dtype: object
1130
category        lounges
is_closed         False
latitude        33.9969
longitude      -118.427
name                NaN
rating                4
review_count       1467
Name: 1130, dtype: object
1131
category         korean
is_closed         False
latitude        34.0639
longitude      -118.295
name                NaN
rating                4
review_count        814
Name: 1131, dtype: object
1132
category        gastropubs
is_closed            False
latitude           34.0749
longitude         -118.309
name                   NaN
rating                   4
review_count           779
Name: 1132, dtype: object
1133
category        newamerican
is_closed             False
latitude            34.0793
longitude          -118.362
name                    NaN
rating                    4
review_count           3321
Name: 1133, dtype: object
1134
category        lounges
is_closed         False
latitude        34.1031
longitude      -118.292
name                NaN
rating                4
review_count        823
Name: 1134, dtype: object
1135
category        tradamerican
is_closed              False
latitude             34.1422
longitude            -118.39
name                     NaN
rating                     4
review_count             201
Name: 1135, dtype: object
1136
category        newamerican
is_closed             False
latitude            34.0637
longitude          -118.364
name                    NaN
rating                    4
review_count              8
Name: 1136, dtype: object
1137
category        waffles
is_closed         False
latitude        34.0986
longitude      -118.322
name                NaN
rating                4
review_count       3816
Name: 1137, dtype: object
1138
category         korean
is_closed         False
latitude        34.0574
longitude      -118.307
name                NaN
rating                4
review_count        103
Name: 1138, dtype: object
1139
category        seafood
is_closed         False
latitude         34.089
longitude      -118.269
name                NaN
rating                4
review_count        604
Name: 1139, dtype: object
1140
category        japanese
is_closed          False
latitude         34.0657
longitude       -118.309
name                 NaN
rating                 4
review_count         256
Name: 1140, dtype: object
1141
category         french
is_closed         False
latitude        34.0721
longitude      -118.367
name                NaN
rating                4
review_count       1813
Name: 1141, dtype: object
1142
category        italian
is_closed         False
latitude         34.051
longitude      -118.258
name                NaN
rating                4
review_count       1531
Name: 1142, dtype: object
1143
category        hawaiian
is_closed          False
latitude         34.0044
longitude       -118.422
name                 NaN
rating                 4
review_count        1650
Name: 1143, dtype: object
1144
category        mediterranean
is_closed               False
latitude              34.1157
longitude            -118.251
name                      NaN
rating                      4
review_count              521
Name: 1144, dtype: object
1145
category          sushi
is_closed         False
latitude        34.0396
longitude       -118.43
name                NaN
rating                4
review_count        848
Name: 1145, dtype: object
1146
category         indpak
is_closed         False
latitude        34.0723
longitude      -118.369
name                NaN
rating                4
review_count        794
Name: 1146, dtype: object
1147
category        asianfusion
is_closed             False
latitude            34.0501
longitude          -118.258
name                    NaN
rating                    4
review_count            149
Name: 1147, dtype: object
1148
category        wine_bars
is_closed           False
latitude          34.1041
longitude        -118.273
name                  NaN
rating                  4
review_count         1138
Name: 1148, dtype: object
1149
category        italian
is_closed         False
latitude        34.0753
longitude      -118.324
name                NaN
rating                4
review_count        304
Name: 1149, dtype: object
1150
category          cajun
is_closed         False
latitude        34.0496
longitude      -118.359
name                NaN
rating                4
review_count        449
Name: 1150, dtype: object
1151
category         indpak
is_closed         False
latitude         34.051
longitude      -118.245
name                NaN
rating                4
review_count       1715
Name: 1151, dtype: object
1152
category        chinese
is_closed         False
latitude        34.0981
longitude      -118.345
name                NaN
rating                4
review_count        562
Name: 1152, dtype: object
1153
category          ramen
is_closed         False
latitude        34.1014
longitude      -118.345
name                NaN
rating                4
review_count        765
Name: 1153, dtype: object
1154
category          ramen
is_closed         False
latitude        34.1018
longitude      -118.301
name                NaN
rating                4
review_count        515
Name: 1154, dtype: object
1155
category         korean
is_closed         False
latitude        34.0691
longitude      -118.307
name                NaN
rating                4
review_count        853
Name: 1155, dtype: object
1156
category           bars
is_closed         False
latitude        34.0729
longitude      -118.252
name                NaN
rating                4
review_count         37
Name: 1156, dtype: object
1157
category        spanish
is_closed         False
latitude          34.07
longitude      -118.377
name                NaN
rating                4
review_count       3784
Name: 1157, dtype: object
1158
category        chicken_wings
is_closed               False
latitude              34.0629
longitude            -118.306
name                      NaN
rating                      4
review_count              172
Name: 1158, dtype: object
1159
category        foodtrucks
is_closed            False
latitude           34.0346
longitude         -118.242
name                   NaN
rating                   4
review_count           978
Name: 1159, dtype: object
1160
category        italian
is_closed         False
latitude        34.0766
longitude      -118.311
name                NaN
rating                4
review_count         49
Name: 1160, dtype: object
1161
category        japanese
is_closed          False
latitude         34.0464
longitude       -118.235
name                 NaN
rating                 4
review_count         518
Name: 1161, dtype: object
1162
category        italian
is_closed         False
latitude        34.1085
longitude      -118.268
name                NaN
rating                4
review_count        498
Name: 1162, dtype: object
1163
category          sushi
is_closed         False
latitude        34.0614
longitude      -118.309
name                NaN
rating                4
review_count       1311
Name: 1163, dtype: object
1164
category           soup
is_closed         False
latitude        34.0631
longitude      -118.298
name                NaN
rating                4
review_count        569
Name: 1164, dtype: object
1165
category        tradamerican
is_closed              False
latitude              34.094
longitude           -118.328
name                     NaN
rating                     4
review_count            1676
Name: 1165, dtype: object
1166
category        sandwiches
is_closed            False
latitude           34.0945
longitude         -118.338
name                   NaN
rating                   4
review_count          1999
Name: 1166, dtype: object
1167
category          pizza
is_closed         False
latitude        34.0829
longitude      -118.273
name                NaN
rating                4
review_count        639
Name: 1167, dtype: object
1168
category         korean
is_closed         False
latitude        34.0528
longitude      -118.306
name                NaN
rating                4
review_count       1041
Name: 1168, dtype: object
1169
category         korean
is_closed         False
latitude        34.0551
longitude      -118.292
name                NaN
rating                4
review_count        110
Name: 1169, dtype: object
1170
category        newamerican
is_closed             False
latitude            34.0419
longitude          -118.259
name                    NaN
rating                    4
review_count            390
Name: 1170, dtype: object
1171
category        mediterranean
is_closed               False
latitude              34.0482
longitude             -118.24
name                      NaN
rating                      4
review_count             1594
Name: 1171, dtype: object
1172
category        chinese
is_closed         False
latitude        34.0524
longitude      -118.303
name                NaN
rating                4
review_count        540
Name: 1172, dtype: object
1173
category          sushi
is_closed         False
latitude        34.0762
longitude      -118.305
name                NaN
rating                4
review_count       1342
Name: 1173, dtype: object
1174
category        breweries
is_closed           False
latitude          34.0557
longitude        -118.237
name                  NaN
rating                  4
review_count          247
Name: 1174, dtype: object
1175
category         korean
is_closed         False
latitude        34.0631
longitude      -118.297
name                NaN
rating                4
review_count        729
Name: 1175, dtype: object
1176
category           thai
is_closed         False
latitude        34.0955
longitude      -118.285
name                NaN
rating                4
review_count        975
Name: 1176, dtype: object
1177
category        mexican
is_closed         False
latitude        34.0808
longitude      -118.387
name                NaN
rating                4
review_count       3985
Name: 1177, dtype: object
1178
category        newamerican
is_closed             False
latitude            34.1041
longitude          -118.291
name                    NaN
rating                    4
review_count            258
Name: 1178, dtype: object
1179
category          ramen
is_closed         False
latitude        34.0469
longitude      -118.238
name                NaN
rating                4
review_count       1213
Name: 1179, dtype: object
1180
category          steak
is_closed         False
latitude        34.0527
longitude      -118.253
name                NaN
rating                4
review_count        595
Name: 1180, dtype: object
1181
category        italian
is_closed         False
latitude        34.0485
longitude      -118.248
name                NaN
rating                4
review_count        442
Name: 1181, dtype: object
1182
category          sushi
is_closed         False
latitude        34.0619
longitude      -118.346
name                NaN
rating                4
review_count       1033
Name: 1182, dtype: object
1183
category        japanese
is_closed          False
latitude         34.0499
longitude        -118.24
name                 NaN
rating                 4
review_count        1386
Name: 1183, dtype: object
1184
category          sushi
is_closed         False
latitude        33.9577
longitude      -118.396
name                NaN
rating                4
review_count        620
Name: 1184, dtype: object
1185
category        colombian
is_closed           False
latitude          34.0837
longitude        -118.312
name                  NaN
rating                  4
review_count          412
Name: 1185, dtype: object
1186
category        italian
is_closed         False
latitude         34.073
longitude      -118.389
name                NaN
rating                4
review_count        471
Name: 1186, dtype: object
1187
category          sushi
is_closed         False
latitude        34.1023
longitude      -118.325
name                NaN
rating                4
review_count        200
Name: 1187, dtype: object
1188
category        shanghainese
is_closed              False
latitude             34.1435
longitude           -118.256
name                     NaN
rating                     4
review_count            3435
Name: 1188, dtype: object
1189
category          steak
is_closed         False
latitude        34.0523
longitude      -118.256
name                NaN
rating                4
review_count        904
Name: 1189, dtype: object
1190
category         korean
is_closed         False
latitude        34.0641
longitude      -118.297
name                NaN
rating                4
review_count        829
Name: 1190, dtype: object
1191
category        vietnamese
is_closed            False
latitude           34.0669
longitude         -118.362
name                   NaN
rating                   4
review_count           617
Name: 1191, dtype: object
1192
category        newamerican
is_closed             False
latitude            34.0255
longitude          -118.413
name                    NaN
rating                    4
review_count            605
Name: 1192, dtype: object
1193
category        newamerican
is_closed             False
latitude            34.0606
longitude          -118.345
name                    NaN
rating                    4
review_count            416
Name: 1193, dtype: object
1194
category           pubs
is_closed         False
latitude        34.0992
longitude      -118.259
name                NaN
rating                4
review_count       1595
Name: 1194, dtype: object
1195
category        italian
is_closed         False
latitude        34.1075
longitude      -118.287
name                NaN
rating                4
review_count        628
Name: 1195, dtype: object
1196
category        newamerican
is_closed             False
latitude            34.0921
longitude           -118.28
name                    NaN
rating                    4
review_count            457
Name: 1196, dtype: object
1197
category        italian
is_closed         False
latitude         34.053
longitude      -118.375
name                NaN
rating                4
review_count        864
Name: 1197, dtype: object
1198
category          steak
is_closed         False
latitude        34.1018
longitude      -118.335
name                NaN
rating                4
review_count       1541
Name: 1198, dtype: object
1199
category        italian
is_closed         False
latitude        34.0763
longitude      -118.357
name                NaN
rating                4
review_count        598
Name: 1199, dtype: object
1200
category        burgers
is_closed         False
latitude        34.0999
longitude      -118.259
name                NaN
rating                4
review_count        301
Name: 1200, dtype: object
1201
category          pizza
is_closed         False
latitude        34.0613
longitude      -118.311
name                NaN
rating                4
review_count        248
Name: 1201, dtype: object
1202
category           thai
is_closed         False
latitude         34.102
longitude      -118.305
name                NaN
rating                4
review_count        476
Name: 1202, dtype: object
1203
category        peruvian
is_closed          False
latitude         34.1501
longitude       -118.378
name                 NaN
rating                 4
review_count          89
Name: 1203, dtype: object
1204
category        seafood
is_closed         False
latitude        34.0762
longitude      -118.378
name                NaN
rating                4
review_count        153
Name: 1204, dtype: object
1205
category        vietnamese
is_closed            False
latitude           34.1046
longitude          -118.33
name                   NaN
rating                   4
review_count           839
Name: 1205, dtype: object
1206
category         indpak
is_closed         False
latitude        34.0837
longitude      -118.343
name                NaN
rating                4
review_count       2533
Name: 1206, dtype: object
1207
category          vegan
is_closed         False
latitude        34.0828
longitude      -118.324
name                NaN
rating                4
review_count       2075
Name: 1207, dtype: object
1208
category        mexican
is_closed         False
latitude        34.0466
longitude      -118.218
name                NaN
rating                4
review_count        493
Name: 1208, dtype: object
1209
category        burgers
is_closed         False
latitude        34.0474
longitude      -118.294
name                NaN
rating                4
review_count       1958
Name: 1209, dtype: object
1210
category        tradamerican
is_closed              False
latitude             34.0739
longitude            -118.24
name                     NaN
rating                     4
review_count             175
Name: 1210, dtype: object
1211
category         korean
is_closed         False
latitude        34.0539
longitude      -118.321
name                NaN
rating                4
review_count        364
Name: 1211, dtype: object
1212
category        mexican
is_closed         False
latitude        34.0575
longitude      -118.238
name                NaN
rating                4
review_count       1137
Name: 1212, dtype: object
1213
category        seafood
is_closed         False
latitude        34.0635
longitude      -118.287
name                NaN
rating                4
review_count         15
Name: 1213, dtype: object
1214
category        mexican
is_closed         False
latitude        34.0625
longitude      -118.349
name                NaN
rating                4
review_count        482
Name: 1214, dtype: object
1215
category        newamerican
is_closed             False
latitude            34.0762
longitude          -118.364
name                    NaN
rating                    4
review_count            375
Name: 1215, dtype: object
1216
category        japanese
is_closed          False
latitude          34.049
longitude        -118.24
name                 NaN
rating                 4
review_count         806
Name: 1216, dtype: object
1217
category           bars
is_closed         False
latitude           34.1
longitude      -118.329
name                NaN
rating                4
review_count        721
Name: 1217, dtype: object
1218
category        southern
is_closed          False
latitude         34.0248
longitude       -118.284
name                 NaN
rating                 4
review_count         133
Name: 1218, dtype: object
1219
category        mexican
is_closed         False
latitude        34.0391
longitude       -118.24
name                NaN
rating                4
review_count       1069
Name: 1219, dtype: object
1220
category        seafoodmarkets
is_closed                False
latitude               34.0408
longitude              -118.24
name                       NaN
rating                       4
review_count              1099
Name: 1220, dtype: object
1221
category           thai
is_closed         False
latitude        34.0741
longitude      -118.309
name                NaN
rating                4
review_count        588
Name: 1221, dtype: object
1222
category        japanese
is_closed          False
latitude         34.0751
longitude       -118.309
name                 NaN
rating                 4
review_count          67
Name: 1222, dtype: object
1223
category        chicken_wings
is_closed               False

Name: 1441, dtype: object
1442
category        mexican
is_closed         False
latitude        34.0524
longitude      -118.301
name                NaN
rating                4
review_count       2123
Name: 1442, dtype: object
1443
category        italian
is_closed         False
latitude        34.0832
longitude      -118.339
name                NaN
rating                4
review_count       2711
Name: 1443, dtype: object
1444
category        newamerican
is_closed             False
latitude            34.0544
longitude          -118.251
name                    NaN
rating                    4
review_count           1878
Name: 1444, dtype: object
1445
category         korean
is_closed         False
latitude        34.0485
longitude      -118.309
name                NaN
rating                4
review_count       3653
Name: 1445, dtype: object
1446
category        lounges
is_closed         False
latitude        34.0923
longitude      -118.338
name                NaN
rating                4
review_count       1049
Name: 1446, dtype: object
1447
category        italian
is_closed         False
latitude         34.103
longitude      -118.292
name                NaN
rating                4
review_count        945
Name: 1447, dtype: object
1448
category        burgers
is_closed         False
latitude        34.0995
longitude      -118.329
name                NaN
rating                4
review_count       2032
Name: 1448, dtype: object
1449
category        italian
is_closed         False
latitude        34.0452
longitude      -118.257
name                NaN
rating                4
review_count       1601
Name: 1449, dtype: object
1450
category        japanese
is_closed          False
latitude         34.0443
longitude       -118.238
name                 NaN
rating                 4
review_count        1733
Name: 1450, dtype: object
1451
category        seafood
is_closed         False
latitude        34.1013
longitude      -118.318
name                NaN
rating                4
review_count       2657
Name: 1451, dtype: object
1452
category          ramen
is_closed         False
latitude        34.0837
longitude      -118.345
name                NaN
rating                4
review_count       3346
Name: 1452, dtype: object
1453
category        italian
is_closed         False
latitude        34.0389
longitude      -118.236
name                NaN
rating                4
review_count       1297
Name: 1453, dtype: object
1454
category         korean
is_closed         False
latitude        34.0638
longitude      -118.296
name                NaN
rating                4
review_count       1467
Name: 1454, dtype: object
1455
category          ramen
is_closed         False
latitude        34.0838
longitude      -118.353
name                NaN
rating                4
review_count        338
Name: 1455, dtype: object
1456
category        gastropubs
is_closed            False
latitude           34.0428
longitude         -118.254
name                   NaN
rating                   4
review_count           730
Name: 1456, dtype: object
1457
category         korean
is_closed         False
latitude        34.0637
longitude      -118.294
name                NaN
rating                4
review_count       1081
Name: 1457, dtype: object
1458
category        seafood
is_closed         False
latitude        34.0635
longitude      -118.299
name                NaN
rating                4
review_count       3154
Name: 1458, dtype: object
1459
category        italian
is_closed         False
latitude        34.0892
longitude      -118.333
name                NaN
rating                4
review_count        434
Name: 1459, dtype: object
1460
category        taiwanese
is_closed           False
latitude          34.0614
longitude         -118.24
name                  NaN
rating                  4
review_count          410
Name: 1460, dtype: object
1461
category        gastropubs
is_closed            False
latitude           34.0643
longitude         -118.309
name                   NaN
rating                   4
review_count          2350
Name: 1461, dtype: object
1462
category        japanese
is_closed          False
latitude         34.0494
longitude        -118.24
name                 NaN
rating                 4
review_count         481
Name: 1462, dtype: object
1463
category        cocktailbars
is_closed              False
latitude             34.0475
longitude           -118.251
name                     NaN
rating                     4
review_count             435
Name: 1463, dtype: object
1464
category        chickenshop
is_closed             False
latitude              34.06
longitude           -118.42
name                    NaN
rating                    4
review_count            346
Name: 1464, dtype: object
1465
category        mediterranean
is_closed               False
latitude              34.0478
longitude            -118.247
name                      NaN
rating                      4
review_count             2535
Name: 1465, dtype: object
1466
category        cocktailbars
is_closed              False
latitude             34.0637
longitude           -118.308
name                     NaN
rating                     4
review_count             461
Name: 1466, dtype: object
1467
category        italian
is_closed         False
latitude        34.0712
longitude       -118.36
name                NaN
rating                4
review_count       1164
Name: 1467, dtype: object
1468
category        newamerican
is_closed             False
latitude            34.0622
longitude          -118.301
name                    NaN
rating                    4
review_count            379
Name: 1468, dtype: object
1469
category        cocktailbars
is_closed              False
latitude             34.0476
longitude            -118.25
name                     NaN
rating                     4
review_count            1018
Name: 1469, dtype: object
1470
category         french
is_closed         False
latitude        34.0481
longitude      -118.248
name                NaN
rating                4
review_count       1116
Name: 1470, dtype: object
1471
category        newamerican
is_closed             False
latitude            34.0044
longitude          -118.431
name                    NaN
rating                    4
review_count            536
Name: 1471, dtype: object
1472
category        cocktailbars
is_closed              False
latitude             34.0468
longitude           -118.251
name                     NaN
rating                     4
review_count             261
Name: 1472, dtype: object
1473
category        italian
is_closed         False
latitude        34.0832
longitude      -118.339
name                NaN
rating                4
review_count        553
Name: 1473, dtype: object
1474
category        newamerican
is_closed             False
latitude            33.9594
longitude          -118.394
name                    NaN
rating                    4
review_count           1368
Name: 1474, dtype: object
1475
category        asianfusion
is_closed             False
latitude            34.0634
longitude          -118.298
name                    NaN
rating                    4
review_count            222
Name: 1475, dtype: object
1476
category        izakaya
is_closed         False
latitude        34.0727
longitude      -118.252
name                NaN
rating                4
review_count        215
Name: 1476, dtype: object
1477
category           thai
is_closed         False
latitude        33.9588
longitude      -118.395
name                NaN
rating                4
review_count       1980
Name: 1477, dtype: object
1478
category        seafood
is_closed         False
latitude         34.027
longitude      -118.409
name                NaN
rating                4
review_count        631
Name: 1478, dtype: object
1479
category          vegan
is_closed         False
latitude        34.0834
longitude       -118.37
name                NaN
rating                4
review_count       1947
Name: 1479, dtype: object
1480
category        japanese
is_closed          False
latitude         34.0997
longitude       -118.323
name                 NaN
rating                 4
review_count          26
Name: 1480, dtype: object
1481
category        italian
is_closed         False
latitude        34.0832
longitude      -118.347
name                NaN
rating                4
review_count        412
Name: 1481, dtype: object
1482
category        cocktailbars
is_closed              False
latitude             34.0417
longitude           -118.263
name                     NaN
rating                     4
review_count             728
Name: 1482, dtype: object
1483
category        italian
is_closed         False
latitude        34.1184
longitude       -118.26
name                NaN
rating                4
review_count        575
Name: 1483, dtype: object
1484
category        chinese
is_closed         False
latitude          34.06
longitude      -118.291
name                NaN
rating                4
review_count         11
Name: 1484, dtype: object
1485
category        mediterranean
is_closed               False
latitude              34.1002
longitude            -118.291
name                      NaN
rating                      4
review_count              429
Name: 1485, dtype: object
1486
category           bars
is_closed         False
latitude        34.0764
longitude      -118.256
name                NaN
rating                4
review_count        441
Name: 1486, dtype: object
1487
category        comfortfood
is_closed             False
latitude            34.0378
longitude          -118.243
name                    NaN
rating                    4
review_count            841
Name: 1487, dtype: object
1488
category        vietnamese
is_closed            False
latitude           34.0673
longitude         -118.236
name                   NaN
rating                   4
review_count          1379
Name: 1488, dtype: object
1489
category        southern
is_closed          False
latitude         34.0796
longitude       -118.361
name                 NaN
rating                 4
review_count         966
Name: 1489, dtype: object
1490
category         korean
is_closed         False
latitude        34.0639
longitude      -118.295
name                NaN
rating                4
review_count        814
Name: 1490, dtype: object
1491
category        newamerican
is_closed             False
latitude            34.0637
longitude          -118.364
name                    NaN
rating                    4
review_count              8
Name: 1491, dtype: object
1492
category        lounges
is_closed         False
latitude        33.9969
longitude      -118.427
name                NaN
rating                4
review_count       1467
Name: 1492, dtype: object
1493
category         korean
is_closed         False
latitude        34.0574
longitude      -118.307
name                NaN
rating                4
review_count        103
Name: 1493, dtype: object
1494
category        mediterranean
is_closed               False
latitude              34.1157
longitude            -118.251
name                      NaN
rating                      4
review_count              521
Name: 1494, dtype: object
1495
category        asianfusion
is_closed             False
latitude            34.0501
longitude          -118.258
name                    NaN
rating                    4
review_count            149
Name: 1495, dtype: object
1496
category          ramen
is_closed         False
latitude        34.1014
longitude      -118.345
name                NaN
rating                4
review_count        765
Name: 1496, dtype: object
1497
category        chicken_wings
is_closed               False
latitude              34.0629
longitude            -118.306
name                      NaN
rating                      4
review_count              172
Name: 1497, dtype: object
1498
category        italian
is_closed         False
latitude        34.0766
longitude      -118.311
name                NaN
rating                4
review_count         49
Name: 1498, dtype: object
1499
category        japanese
is_closed          False
latitude         34.0464
longitude       -118.235
name                 NaN
rating                 4
review_count         518
Name: 1499, dtype: object
1500
category        tradamerican
is_closed              False
latitude              34.094
longitude           -118.328
name                     NaN
rating                     4
review_count            1676
Name: 1500, dtype: object
1501
category          pizza
is_closed         False
latitude        34.0829
longitude      -118.273
name                NaN
rating                4
review_count        639
Name: 1501, dtype: object
1502
category         korean
is_closed         False
latitude        34.0528
longitude      -118.306
name                NaN
rating                4
review_count       1041
Name: 1502, dtype: object
1503
category        mediterranean
is_closed               False
latitude              34.0482
longitude             -118.24
name                      NaN
rating                      4
review_count             1594
Name: 1503, dtype: object
1504
category        chinese
is_closed         False
latitude        34.0524
longitude      -118.303
name                NaN
rating                4
review_count        540
Name: 1504, dtype: object
1505
category           thai
is_closed         False
latitude        34.0955
longitude      -118.285
name                NaN
rating                4
review_count        975
Name: 1505, dtype: object
1506
category        italian
is_closed         False
latitude        34.0485
longitude      -118.248
name                NaN
rating                4
review_count        442
Name: 1506, dtype: object
1507
category        italian
is_closed         False
latitude         34.073
longitude      -118.389
name                NaN
rating                4
review_count        471
Name: 1507, dtype: object
1508
category          sushi
is_closed         False
latitude        34.1023
longitude      -118.325
name                NaN
rating                4
review_count        200
Name: 1508, dtype: object
1509
category        shanghainese
is_closed              False
latitude             34.1435
longitude           -118.256
name                     NaN
rating                     4
review_count            3436
Name: 1509, dtype: object
1510
category        italian
is_closed         False
latitude        34.1075
longitude      -118.287
name                NaN
rating                4
review_count        628
Name: 1510, dtype: object
1511
category        newamerican
is_closed             False
latitude            34.0921
longitude           -118.28
name                    NaN
rating                    4
review_count            457
Name: 1511, dtype: object
1512
category         indpak
is_closed         False
latitude        34.0837
longitude      -118.343
name                NaN
rating                4
review_count       2533
Name: 1512, dtype: object
1513
category        tradamerican
is_closed              False
latitude             34.0739
longitude            -118.24
name                     NaN
rating                     4
review_count             175
Name: 1513, dtype: object
1514
category        seafood
is_closed         False
latitude        34.0635
longitude      -118.287
name                NaN
rating                4
review_count         15
Name: 1514, dtype: object
1515
category        seafoodmarkets
is_closed                False
latitude               34.0408
longitude              -118.24
name                       NaN
rating                       4
review_count              1099
Name: 1515, dtype: object
1516
category        japanese
is_closed          False
latitude         34.0751
longitude       -118.309
name                 NaN
rating                 4
review_count          67
Name: 1516, dtype: object
1517
category        newamerican
is_closed             False
latitude            34.0762
longitude          -118.364
name                    NaN
rating                    4
review_count            375
Name: 1517, dtype: object
1518
category        wine_bars
is_closed           False
latitude          34.0824
longitude        -118.272
name                  NaN
rating                  4
review_count          223
Name: 1518, dtype: object
1519
category        mediterranean
is_closed               False
latitude              34.0249
longitude            -118.285
name                      NaN
rating                      4
review_count              178
Name: 1519, dtype: object
1520
category        newamerican
is_closed             False
latitude            34.0461
longitude          -118.235
name                    NaN
rating                    4
review_count            861
Name: 1520, dtype: object
1521
category            bbq
is_closed         False
latitude        34.0319
longitude      -118.335
name                NaN
rating                4
review_count        493
Name: 1521, dtype: object
1522
category        breakfast_brunch
is_closed                  False
latitude                 34.1002
longitude                -118.33
name                         NaN
rating                         4
review_count                 190
Name: 1522, dtype: object
1523
category         korean
is_closed         False
latitude        34.0623
longitude      -118.298
name                NaN
rating                4
review_count        224
Name: 1523, dtype: object
1524
category        chinese
is_closed         False
latitude        34.0975
longitude      -118.365
name                NaN
rating                4
review_count        454
Name: 1524, dtype: object
1525
category        caribbean
is_closed           False
latitude          34.0481
longitude        -118.348
name                  NaN
rating                  4
review_count          263
Name: 1525, dtype: object
1526
category        mexican
is_closed         False
latitude        34.0339
longitude      -118.291
name                NaN
rating                4
review_count        829
Name: 1526, dtype: object
1527
category        japanese
is_closed          False
latitude         34.0483
longitude       -118.259
name                 NaN
rating                 4
review_count          86
Name: 1527, dtype: object
1528
category        cocktailbars
is_closed              False
latitude             34.0404
longitude           -118.263
name                     NaN
rating                     4
review_count             313
Name: 1528, dtype: object
1529
category         korean
is_closed         False
latitude        34.0579
longitude      -118.303
name                NaN
rating                4
review_count       1800
Name: 1529, dtype: object
1530
category         korean
is_closed         False
latitude        34.0624
longitude      -118.298
name                NaN
rating                4
review_count        639
Name: 1530, dtype: object
1531
category        italian
is_closed         False
latitude        34.0498
longitude      -118.259
name                NaN
rating                4
review_count        417
Name: 1531, dtype: object
1532
category        japanese
is_closed          False
latitude         34.0311
longitude       -118.401
name                 NaN
rating                 4
review_count         734
Name: 1532, dtype: object
1533
category         korean
is_closed         False
latitude        34.0529
longitude      -118.304
name                NaN
rating                4
review_count        746
Name: 1533, dtype: object
1534
category        peruvian
is_closed          False
latitude         34.0826
longitude       -118.376
name                 NaN
rating                 4
review_count         704
Name: 1534, dtype: object
1535
category        italian
is_closed         False
latitude        34.0709
longitude      -118.401
name                NaN
rating                4
review_count       1448
Name: 1535, dtype: object
1536
category        breakfast_brunch
is_closed                  False

Name: 1771, dtype: object
1772
category                  newamerican
is_closed                         NaN
latitude                      34.0481
longitude                    -118.258
name            Stella Barra Pizzeria
rating                            4.5
review_count                      334
Name: 1772, dtype: object
1773
category            ethiopian
is_closed                 NaN
latitude              34.0571
longitude            -118.364
name            Eat This Cafe
rating                    4.5
review_count              335
Name: 1773, dtype: object
1774
category                   ethiopian
is_closed                        NaN
latitude                     34.0571
longitude                   -118.364
name            Eataly - Los Angeles
rating                           4.5
review_count                     335
Name: 1774, dtype: object
1775
category            izakaya
is_closed               NaN
latitude            34.0467
longitude          -118.239
name            Thank U Pho
rating                  4.5
review_count            335
Name: 1775, dtype: object
1776
category                 newamerican
is_closed                        NaN
latitude                     34.0481
longitude                   -118.258
name            Stevie's Creole Cafe
rating                           4.5
review_count                     339
Name: 1776, dtype: object
1777
category        newamerican
is_closed               NaN
latitude            34.0481
longitude          -118.258
name            Sticky Rice
rating                  4.5
review_count            339
Name: 1777, dtype: object
1778
category            latin
is_closed             NaN
latitude          34.0353
longitude        -118.253
name            Inko Nito
rating                4.5
review_count          340
Name: 1778, dtype: object
1779
category             latin
is_closed              NaN
latitude           34.0353
longitude         -118.253
name            Industriel
rating                 4.5
review_count           341
Name: 1779, dtype: object
1780
category         hotdog
is_closed           NaN
latitude        34.0156
longitude      -118.335
name             Kismet
rating              4.5
review_count        341
Name: 1780, dtype: object
1781
category               hotdog
is_closed                 NaN
latitude              34.0156
longitude            -118.335
name            Kitchen Sooda
rating                    4.5
review_count              342
Name: 1781, dtype: object
1782
category                 breakfast_brunch
is_closed                             NaN
latitude                          34.0576
longitude                        -118.298
name            Okiboru House of Tsukemen
rating                                4.5
review_count                          344
Name: 1782, dtype: object
1783
category        breakfast_brunch
is_closed                    NaN
latitude                 34.0576
longitude               -118.298
name                Olson's Deli
rating                       4.5
review_count                 345
Name: 1783, dtype: object
1784
category                  newamerican
is_closed                         NaN
latitude                      34.0481
longitude                    -118.258
name            Stout Burgers & Beers
rating                            4.5
review_count                      347
Name: 1784, dtype: object
1785
category                 newamerican
is_closed                        NaN
latitude                     34.0481
longitude                   -118.258
name            Street Food Of Seoul
rating                           4.5
review_count                     347
Name: 1785, dtype: object
1786
category            coffee
is_closed              NaN
latitude           34.1015
longitude         -118.313
name            Crossroads
rating                 4.5
review_count           348
Name: 1786, dtype: object
1787
category                                       coffee
is_closed                                         NaN
latitude                                      34.1015
longitude                                    -118.313
name            Crumbs & Whiskers - Kitten & Cat Cafe
rating                                            4.5
review_count                                      349
Name: 1787, dtype: object
1788
category            japanese
is_closed                NaN
latitude             34.0481
longitude           -118.258
name            Perfect Pita
rating                   4.5
review_count             353
Name: 1788, dtype: object
1789
category           japanese
is_closed               NaN
latitude            34.0481
longitude          -118.258
name            Petit Trois
rating                  4.5
review_count            354
Name: 1789, dtype: object
1790
category                         japanese
is_closed                             NaN
latitude                          34.0481
longitude                        -118.258
name            Petty Cash Taqueria & Bar
rating                                4.5
review_count                          355
Name: 1790, dtype: object
1791
category                     italian
is_closed                        NaN
latitude                     34.1019
longitude                   -118.312
name            Rutt's Hawaiian Cafe
rating                           4.5
review_count                     356
Name: 1791, dtype: object
1792
category          korean
is_closed            NaN
latitude         34.0693
longitude       -118.307
name            Spartina
rating               4.5
review_count         357
Name: 1792, dtype: object
1793
category          venezuelan
is_closed                NaN
latitude             34.1719
longitude           -118.382
name            Hana Kitchen
rating                   4.5
review_count             358
Name: 1793, dtype: object
1794
category          tikibars
is_closed              NaN
latitude           34.1019
longitude         -118.334
name            Wurstküche
rating                 4.5
review_count           358
Name: 1794, dtype: object
1795
category                 ramen
is_closed                  NaN
latitude               34.1453
longitude             -118.363
name            Mex Perú Gipsy
rating                     4.5
review_count               360
Name: 1795, dtype: object
1796
category                        mexican
is_closed                           NaN
latitude                        34.0397
longitude                      -118.255
name            Hae Ha Heng Thai Bistro
rating                              4.5
review_count                        362
Name: 1796, dtype: object
1797
category                                    mexican
is_closed                                       NaN
latitude                                    34.0397
longitude                                  -118.255
name            Hae Jang Chon Korean BBQ Restaurant
rating                                          4.5
review_count                                    362
Name: 1797, dtype: object
1798
category        mexican
is_closed           NaN
latitude        34.0397
longitude      -118.255
name            Haemaru
rating              4.5
review_count        363
Name: 1798, dtype: object
1799
category             mexican
is_closed                NaN
latitude             34.0397
longitude           -118.255
name            Hak San - LA
rating                   4.5
review_count             363
Name: 1799, dtype: object
1800
category          ethiopian
is_closed               NaN
latitude            34.0174
longitude          -118.278
name            Blacksmiths
rating                  4.5
review_count            376
Name: 1800, dtype: object
1801
category        breakfast_brunch
is_closed                    NaN
latitude                 34.1519
longitude               -118.352
name                    Rossoblu
rating                       4.5
review_count                 381
Name: 1801, dtype: object
1802
category                           breakfast_brunch
is_closed                                       NaN
latitude                                    34.1519
longitude                                  -118.352
name            Roscoe's House of Chicken & Waffles
rating                                          4.5
review_count                                    382
Name: 1802, dtype: object
1803
category              indonesian
is_closed                    NaN
latitude                   34.05
longitude               -118.243
name            TAO Asian Bistro
rating                       4.5
review_count                 391
Name: 1803, dtype: object
1804
category                indonesian
is_closed                      NaN
latitude                     34.05
longitude                 -118.243
name            Taqueria Los Anaya
rating                         4.5
review_count                   391
Name: 1804, dtype: object
1805
category                     mexican
is_closed                        NaN
latitude                     34.0938
longitude                   -118.327
name            The Roof on Wilshire
rating                           4.5
review_count                     413
Name: 1805, dtype: object
1806
category                                         mexican
is_closed                                            NaN
latitude                                         34.0938
longitude                                       -118.327
name            The Rooftop at The Standard, Downtown LA
rating                                               4.5
review_count                                         414
Name: 1806, dtype: object
1807
category              mexican
is_closed                 NaN
latitude              34.0471
longitude            -118.218
name            Cielito Lindo
rating                    4.5
review_count              415
Name: 1807, dtype: object
1808
category              mexican
is_closed                 NaN
latitude              34.0471
longitude            -118.218
name            Cilantro Lime
rating                    4.5
review_count              415
Name: 1808, dtype: object
1809
category               korean
is_closed                 NaN
latitude              34.0562
longitude             -118.31
name            Dune Downtown
rating                    4.5
review_count              415
Name: 1809, dtype: object
1810
category                  mexican
is_closed                     NaN
latitude                  34.0471
longitude                -118.218
name            Churros La Paloma
rating                        4.5
review_count                  416
Name: 1810, dtype: object
1811
category                       mexican
is_closed                          NaN
latitude                       34.0471
longitude                     -118.218
name            Clayton's Public House
rating                             4.5
review_count                       416
Name: 1811, dtype: object
1812
category              korean
is_closed                NaN
latitude             34.0562
longitude            -118.31
name            E.A.K. Ramen
rating                   4.5
review_count             416
Name: 1812, dtype: object
1813
category           coffee
is_closed             NaN
latitude          34.0836
longitude        -118.362
name            Hyperslow
rating                4.5
review_count          426
Name: 1813, dtype: object
1814
category                   coffee
is_closed                     NaN
latitude                  34.0836
longitude                -118.362
name            I Panini di Ambra
rating                        4.5
review_count                  427
Name: 1814, dtype: object
1815
category           coffee
is_closed             NaN
latitude          34.0836
longitude        -118.362
name            Idle Hour
rating                4.5
review_count          428
Name: 1815, dtype: object
1816
category                      argentine
is_closed                           NaN
latitude                        34.0574
longitude                      -118.294
name            AJ's Tex-Mex & Barbecue
rating                              4.5
review_count                        430
Name: 1816, dtype: object
1817
category                      argentine
is_closed                           NaN
latitude                        34.0574
longitude                      -118.294
name            Al & Bea's Mexican Food
rating                              4.5
review_count                        430
Name: 1817, dtype: object
1818
category                cafes
is_closed                 NaN
latitude              34.0522
longitude            -118.371
name            My Vegan Gold
rating                    4.5
review_count              435
Name: 1818, dtype: object
1819
category                          lebanese
is_closed                              NaN
latitude                           34.0911
longitude                         -118.283
name            Dino's Chicken and Burgers
rating                                 4.5
review_count                           438
Name: 1819, dtype: object
1820
category                sandwiches
is_closed                      NaN
latitude                   34.0634
longitude                 -118.294
name            Drive Thru Pupusas
rating                         4.5
review_count                   440
Name: 1820, dtype: object
1821
category                vegetarian
is_closed                      NaN
latitude                   34.0762
longitude                  -118.37
name            Bludso's Bar & Que
rating                         4.5
review_count                   456
Name: 1821, dtype: object
1822
category                    vegetarian
is_closed                          NaN
latitude                       34.0762
longitude                      -118.37
name            Blue Cow Kitchen & Bar
rating                             4.5
review_count                       456
Name: 1822, dtype: object
1823
category                    korean
is_closed                      NaN
latitude                   34.0628
longitude                 -118.298
name            Red's Flavor Table
rating                         4.5
review_count                   460
Name: 1823, dtype: object
1824
category            seafood
is_closed               NaN
latitude            34.1019
longitude          -118.312
name            Genki Grill
rating                  4.5
review_count            461
Name: 1824, dtype: object
1825
category         korean
is_closed           NaN
latitude        34.0628
longitude      -118.298
name            Redbird
rating              4.5
review_count        461
Name: 1825, dtype: object
1826
category                 korean
is_closed                   NaN
latitude                34.0628
longitude              -118.298
name            Red Lion Tavern
rating                      4.5
review_count                463
Name: 1826, dtype: object
1827
category           italian
is_closed              NaN
latitude           34.0734
longitude         -118.381
name            Wood Spoon
rating                 4.5
review_count           479
Name: 1827, dtype: object
1828
category        newamerican
is_closed               NaN
latitude            34.0834
longitude          -118.324
name               Sushi Ye
rating                  4.5
review_count            491
Name: 1828, dtype: object
1829
category        newamerican
is_closed               NaN
latitude            34.0834
longitude          -118.324
name               Sushi Zo
rating                  4.5
review_count            492
Name: 1829, dtype: object
1830
category              pizza
is_closed               NaN
latitude            34.0835
longitude          -118.295
name            Mohawk Bend
rating                  4.5
review_count            495
Name: 1830, dtype: object
1831
category                        pizza
is_closed                         NaN
latitude                      34.0835
longitude                    -118.295
name            Momed Atwater Village
rating                            4.5
review_count                      497
Name: 1831, dtype: object
1832
category                              korean
is_closed                                NaN
latitude                             34.0693
longitude                           -118.293
name            Karl Strauss Brewing Company
rating                                   4.5
review_count                             502
Name: 1832, dtype: object
1833
category         korean
is_closed           NaN
latitude        34.0693
longitude      -118.293
name              Kasih
rating              4.5
review_count        503
Name: 1833, dtype: object
1834
category                 chinese
is_closed                    NaN
latitude                 34.0537
longitude                -118.32
name            Love Baked Wings
rating                       4.5
review_count                 540
Name: 1834, dtype: object
1835
category         mexican
is_closed            NaN
latitude         34.0954
longitude       -118.303
name            LA Prime
rating               4.5
review_count         549
Name: 1835, dtype: object
1836
category                       mexican
is_closed                          NaN
latitude                       34.0954
longitude                     -118.303
name            La Pupusa Urban Eatery
rating                             4.5
review_count                       549
Name: 1836, dtype: object
1837
category             chicken_wings
is_closed                      NaN
latitude                   34.0675
longitude                  -118.31
name            Mexicali Taco & Co
rating                         4.5
review_count                   549
Name: 1837, dtype: object
1838
category             mexican
is_closed                NaN
latitude             34.0954
longitude           -118.303
name            LA Rose Cafe
rating                   4.5
review_count             550
Name: 1838, dtype: object
1839
category                       mexican
is_closed                          NaN
latitude                       34.0954
longitude                     -118.303
name            Lala's Argentine Grill
rating                             4.5
review_count                       550
Name: 1839, dtype: object
1840
category                            newamerican
is_closed                                   NaN
latitude                                34.0449
longitude                              -118.233
name            Korean Kitchen Hibachi Barbeque
rating                                      4.5
review_count                                551
Name: 1840, dtype: object
1841
category        chicken_wings
is_closed                 NaN
latitude              34.0675
longitude             -118.31
name                Mezcalero
rating                    4.5
review_count              551
Name: 1841, dtype: object
1842
category        chicken_wings
is_closed                 NaN
latitude              34.0675
longitude             -118.31
name                    Mh Zh
rating                    4.5
review_count              551
Name: 1842, dtype: object
1843
category               newamerican
is_closed                      NaN
latitude                   34.0449
longitude                 -118.233
name            Koreatown Galleria
rating                         4.5
review_count                   552
Name: 1843, dtype: object
1844
category        chicken_wings
is_closed                 NaN
latitude              34.0675
longitude             -118.31
name               Mi Corazon
rating                    4.5
review_count              552
Name: 1844, dtype: object
1845
category             chicken_wings
is_closed                      NaN
latitude                   34.0675
longitude                  -118.31
name            Miari Noodle House
rating                         4.5
review_count                   552
Name: 1845, dtype: object
1846
category               newamerican
is_closed                      NaN
latitude                   34.0449
longitude                 -118.233
name            Kouraku Restaurant
rating                         4.5
review_count                   553

Name: 2088, dtype: object
2089
category        seafood
is_closed           NaN
latitude        34.0728
longitude      -118.374
name            Tofu Ya
rating              4.5
review_count        663
Name: 2089, dtype: object
2090
category             mexican
is_closed                NaN
latitude             34.0097
longitude           -118.265
name            The 3rd Stop
rating                   4.5
review_count             422
Name: 2090, dtype: object
2091
category           argentine
is_closed                NaN
latitude             34.0574
longitude           -118.294
name            El Taco Toro
rating                   4.5
review_count             430
Name: 2091, dtype: object
2092
category                 ethiopian
is_closed                      NaN
latitude                   34.0567
longitude                 -118.365
name            Furaibo Restaurant
rating                         4.5
review_count                   728
Name: 2092, dtype: object
2093
category         japanese
is_closed             NaN
latitude          34.0834
longitude        -118.346
name            Roll Call
rating                4.5
review_count          526
Name: 2093, dtype: object
2094
category                    falafel
is_closed                       NaN
latitude                     34.117
longitude                  -118.262
name            La Abeja Restaurant
rating                          4.5
review_count                    668
Name: 2094, dtype: object
2095
category                 armenian
is_closed                     NaN
latitude                  34.1014
longitude                -118.301
name            Vinoteca Farfalla
rating                        4.5
review_count                  661
Name: 2095, dtype: object
2096
category                      breweries
is_closed                           NaN
latitude                         34.048
longitude                      -118.256
name            Morton's The Steakhouse
rating                              4.5
review_count                        654
Name: 2096, dtype: object
2097
category         coffee
is_closed           NaN
latitude        34.0571
longitude      -118.364
name            Terroni
rating              4.5
review_count        372
Name: 2097, dtype: object
2098
category                 pizza
is_closed                  NaN
latitude               34.1021
longitude               -118.3
name            Electric Lotus
rating                     4.5
review_count               747
Name: 2098, dtype: object
2099
category          vegetarian
is_closed                NaN
latitude             34.0778
longitude           -118.265
name            The Sit Down
rating                   4.5
review_count             739
Name: 2099, dtype: object
2100
category            ramen
is_closed             NaN
latitude          34.0641
longitude        -118.309
name            Jay's Bar
rating                4.5
review_count          518
Name: 2100, dtype: object
2101
category             cafes
is_closed              NaN
latitude            34.107
longitude         -118.203
name            La Taquiza
rating                 4.5
review_count           509
Name: 2101, dtype: object
2102
category                           bbq
is_closed                          NaN
latitude                       34.0911
longitude                     -118.301
name            Noe Restaurant and Bar
rating                             4.5
review_count                       519
Name: 2102, dtype: object
2103
category                       coffee
is_closed                         NaN
latitude                      34.0484
longitude                    -118.258
name            Killer Noodle Tsujita
rating                            4.5
review_count                      425
Name: 2103, dtype: object
2104
category            italian
is_closed               NaN
latitude            34.0554
longitude          -118.442
name            Urban Ramen
rating                  4.5
review_count            901
Name: 2104, dtype: object
2105
category            sandwiches
is_closed                  NaN
latitude               34.0974
longitude              -118.35
name            Ronnie's Diner
rating                     4.5
review_count               660
Name: 2105, dtype: object
2106
category           korean
is_closed             NaN
latitude          34.0546
longitude        -118.291
name            MOD Pizza
rating                4.5
review_count          470
Name: 2106, dtype: object
2107
category             italian
is_closed                NaN
latitude             34.1019
longitude           -118.312
name            Lobsta Truck
rating                   4.5
review_count             357
Name: 2107, dtype: object
2108
category        ethiopian
is_closed             NaN
latitude          34.0571
longitude        -118.364
name              Tirsa's
rating                4.5
review_count          335
Name: 2108, dtype: object
2109
category              persian
is_closed                 NaN
latitude              34.0476
longitude            -118.435
name            Sea Salt Poke
rating                    4.5
review_count              856
Name: 2109, dtype: object
2110
category              newamerican
is_closed                     NaN
latitude                  34.0834
longitude                -118.324
name            Manpuku Tokyo BBQ
rating                        4.5
review_count                  493
Name: 2110, dtype: object
2111
category        chicken_wings
is_closed                 NaN
latitude              34.0906
longitude            -118.326
name                   PBJ.LA
rating                    4.5
review_count              326
Name: 2111, dtype: object
2112
category         korean
is_closed           NaN
latitude        34.0637
longitude      -118.295
name             Locali
rating              4.5
review_count        619
Name: 2112, dtype: object
2113
category                coffee
is_closed                  NaN
latitude               34.1297
longitude             -118.216
name            Gwang Yang BBQ
rating                     4.5
review_count               478
Name: 2113, dtype: object
2114
category                  juicebars
is_closed                       NaN
latitude                    34.0688
longitude                  -118.263
name            Sakana Sushi Lounge
rating                          4.5
review_count                    726
Name: 2114, dtype: object
2115
category                            dimsum
is_closed                              NaN
latitude                           34.0978
longitude                         -118.318
name            Moon House Chinese Cuisine
rating                                 4.5
review_count                           567
Name: 2115, dtype: object
2116
category                 chinese
is_closed                    NaN
latitude                 34.0537
longitude                -118.32
name            Tacos El Compita
rating                       4.5
review_count                 540
Name: 2116, dtype: object
2117
category        taiwanese
is_closed             NaN
latitude          34.1208
longitude        -118.205
name            PokeMotto
rating                4.5
review_count          605
Name: 2117, dtype: object
2118
category                           argentine
is_closed                                NaN
latitude                             34.0111
longitude                            -118.42
name            Mama's International Tamales
rating                                   4.5
review_count                             732
Name: 2118, dtype: object
2119
category                  mexican
is_closed                     NaN
latitude                  34.0426
longitude                -118.253
name            Katsuya L.A. Live
rating                        4.5
review_count                  620
Name: 2119, dtype: object
2120
category                               hotdog
is_closed                                 NaN
latitude                              34.0156
longitude                            -118.335
name            King Of New York Pizzeria Pub
rating                                    4.5
review_count                              342
Name: 2120, dtype: object
2121
category                       mexican
is_closed                          NaN
latitude                       34.1317
longitude                     -118.353
name            Cafe London Monochrome
rating                             4.5
review_count                       657
Name: 2121, dtype: object
2122
category        vegetarian
is_closed              NaN
latitude           34.0762
longitude          -118.37
name            Division 3
rating                 4.5
review_count           456
Name: 2122, dtype: object
2123
category             korean
is_closed               NaN
latitude            34.0693
longitude          -118.307
name            Prime Pizza
rating                  4.5
review_count            357
Name: 2123, dtype: object
2124
category          mexican
is_closed             NaN
latitude          34.0734
longitude         -118.21
name            Mia Sushi
rating                4.5
review_count          605
Name: 2124, dtype: object
2125
category                    latin
is_closed                     NaN
latitude                   34.047
longitude                -118.219
name            Mesa Thai Cuisine
rating                        4.5
review_count                  595
Name: 2125, dtype: object
2126
category        vegetarian
is_closed              NaN
latitude           34.0622
longitude         -118.236
name              Cafe Mak
rating                 4.5
review_count           639
Name: 2126, dtype: object
2127
category              korean
is_closed                NaN
latitude              34.067
longitude           -118.309
name            Natalee Thai
rating                   4.5
review_count             468
Name: 2127, dtype: object
2128
category                        pizza
is_closed                         NaN
latitude                      34.0835
longitude                    -118.295
name            Groundwork Coffee Co.
rating                            4.5
review_count                      497
Name: 2128, dtype: object
2129
category               icecream
is_closed                   NaN
latitude                34.0476
longitude              -118.328
name            Cafe Korobokgur
rating                      4.5
review_count                444
Name: 2129, dtype: object
2130
category              juicebars
is_closed                   NaN
latitude                34.1439
longitude              -118.399
name            Horse Thief BBQ
rating                      4.5
review_count                367
Name: 2130, dtype: object
2131
category                                  mexican
is_closed                                     NaN
latitude                                  34.0808
longitude                                -118.261
name            The Lyric Hyperion Theatre & Cafe
rating                                        4.5
review_count                                  650
Name: 2131, dtype: object
2132
category            korean
is_closed              NaN
latitude           34.0693
longitude         -118.293
name            Bloom Cafe
rating                 4.5
review_count           503
Name: 2132, dtype: object
2133
category        tapasmallplates
is_closed                 False
latitude                34.1005
longitude              -118.329
name               Angry Chickz
rating                      4.5
review_count                967
Name: 2133, dtype: object
2134
category                                              italian
is_closed                                               False
latitude                                               34.034
longitude                                            -118.229
name            Sage Plant Based Bistro and Brewery Echo Park
rating                                                    4.5
review_count                                             5857
Name: 2134, dtype: object
2135
category        southern
is_closed          False
latitude         34.0615
longitude        -118.24
name            Delancey
rating               4.5
review_count        5638
Name: 2135, dtype: object
2136
category                          gastropubs
is_closed                              False
latitude                             34.1238
longitude                           -118.269
name            Miceli's Italian - Hollywood
rating                                   4.5
review_count                            4211
Name: 2136, dtype: object
2137
category        newamerican
is_closed             False
latitude            34.0481
longitude          -118.258
name             Elbow Room
rating                  4.5
review_count            353
Name: 2137, dtype: object
2138
category             chickenshop
is_closed                  False
latitude                 34.0881
longitude               -118.309
name            Osteria Cal Mare
rating                       4.5
review_count                2536
Name: 2138, dtype: object
2139
category          japanese
is_closed            False
latitude             34.05
longitude          -118.24
name            El Caserio
rating                 4.5
review_count          3536
Name: 2139, dtype: object
2140
category                       tradamerican
is_closed                             False
latitude                             34.096
longitude                          -118.326
name            FIN Asian Tapas - Hollywood
rating                                  4.5
review_count                            166
Name: 2140, dtype: object
2141
category            delis
is_closed           False
latitude          34.0476
longitude        -118.317
name            Toscanova
rating                4.5
review_count         1337
Name: 2141, dtype: object
2142
category                         ramen
is_closed                        False
latitude                       34.0574
longitude                     -118.307
name            Proper Pizza and Pasta
rating                             4.5
review_count                      4051
Name: 2142, dtype: object
2143
category        southern
is_closed          False
latitude          34.102
longitude         -118.3
name                JJAN
rating               4.5
review_count         726
Name: 2143, dtype: object
2144
category        mediterranean
is_closed               False
latitude              34.0474
longitude            -118.376
name                 Rosaline
rating                    4.5
review_count              258
Name: 2144, dtype: object
2145
category            korean
is_closed            False
latitude            34.064
longitude         -118.301
name            Il Pastaio
rating                 4.5
review_count          1953
Name: 2145, dtype: object
2146
category         french
is_closed         False
latitude        34.0519
longitude      -118.384
name               Nest
rating              4.5
review_count       1243
Name: 2146, dtype: object
2147
category              tikibars
is_closed                False
latitude               34.1019
longitude             -118.334
name            BOA Steakhouse
rating                     4.5
review_count               359
Name: 2147, dtype: object
2148
category                 seafood
is_closed                  False
latitude                 34.0836
longitude                -118.33
name            Breva Restaurant
rating                       4.5
review_count                2631
Name: 2148, dtype: object
2149
category                    bbq
is_closed                 False
latitude                34.0637
longitude              -118.297
name            Petite Taqueria
rating                      4.5
review_count               4112
Name: 2149, dtype: object
2150
category                 korean
is_closed                 False
latitude                34.0629
longitude              -118.298
name            Pimai It's Thai
rating                      4.5
review_count               1557
Name: 2150, dtype: object
2151
category         seafood
is_closed          False
latitude         34.0728
longitude       -118.374
name            Alimento
rating               4.5
review_count         664
Name: 2151, dtype: object
2152
category                   brazilian
is_closed                      False
latitude                     34.0466
longitude                   -118.256
name            The Palm Los Angeles
rating                           4.5
review_count                     200
Name: 2152, dtype: object
2153
category             italian
is_closed              False
latitude             34.1038
longitude           -118.287
name            Pho Hanoi 12
rating                   4.5
review_count             778
Name: 2153, dtype: object
2154
category        taiwanese
is_closed           False
latitude          34.0906
longitude        -118.277
name                  Ima
rating                4.5
review_count         2137
Name: 2154, dtype: object
2155
category                      thai
is_closed                    False
latitude                   34.0978
longitude                 -118.318
name            La Poubelle Bistro
rating                         4.5
review_count                  1713
Name: 2155, dtype: object
2156
category                   korean
is_closed                   False
latitude                   34.064
longitude                -118.288
name            Cleo Third Street
rating                        4.5
review_count                  464
Name: 2156, dtype: object
2157
category           mideastern
is_closed               False
latitude              34.0415
longitude            -118.233
name            Bootleg Pizza
rating                    4.5
review_count             1069
Name: 2157, dtype: object
2158
category        southern
is_closed          False
latitude         34.0498
longitude        -118.36
name              YAZAWA
rating               4.5
review_count         597
Name: 2158, dtype: object
2159
category         korean
is_closed         False
latitude        34.0631
longitude      -118.297
name              Jones
rating              4.5
review_count       1461
Name: 2159, dtype: object
2160
category               korean
is_closed               False
latitude              34.0654
longitude             -118.31
name            Plum Tree Inn
rating                    4.5
review_count             2111
Name: 2160, dtype: object
2161
category                               sushi
is_closed                              False
latitude                             34.0832
longitude                           -118.273
name            Hill Street Bar & Restaurant
rating                                   4.5
review_count                             634
Name: 2161, dtype: object
2162
category             brazilian
is_closed                False
latitude               34.0614
longitude              -118.31
name            Slicey's Pizza
rating                     4.5
review_count              1981
Name: 2162, dtype: object
2163
category                            italian
is_closed                             False
latitude                            34.0764
longitude                          -118.349
name            Tocaya Organica - Hollywood
rating                                  4.5
review_count                           1726
Name: 2163, dtype: object
2164
category             newamerican
is_closed                  False
latitude                 34.0471
longitude                -118.25
name            Poutine Brothers
rating                       4.5
review_count                 248
Name: 2164, dtype: object
2165
category        newamerican
is_closed             False
latitude            34.0762
longitude          -118.257
name            Western BBQ
rating                  4.5
review_count             53
Name: 2165, dtype: object
2166
category               japanese
is_closed                 False
latitude                34.0622
longitude              -118.348
name            The Naughty Pig
rating                      4.5
review_count               1515

Name: 2409, dtype: object
2410
category         korean
is_closed         False
latitude        34.0674
longitude      -118.309
name                NaN
rating              4.5
review_count         62
Name: 2410, dtype: object
2411
category        mediterranean
is_closed               False
latitude              34.1012
longitude            -118.331
name                      NaN
rating                    4.5
review_count              224
Name: 2411, dtype: object
2412
category         korean
is_closed         False
latitude         34.025
longitude      -118.285
name                NaN
rating              4.5
review_count        151
Name: 2412, dtype: object
2413
category         korean
is_closed         False
latitude        34.0527
longitude      -118.306
name                NaN
rating              4.5
review_count        285
Name: 2413, dtype: object
2414
category         korean
is_closed         False
latitude         34.062
longitude      -118.313
name                NaN
rating              4.5
review_count         38
Name: 2414, dtype: object
2415
category          latin
is_closed         False
latitude         34.039
longitude      -118.309
name                NaN
rating              4.5
review_count         62
Name: 2415, dtype: object
2416
category        newamerican
is_closed             False
latitude            34.1453
longitude          -118.339
name                    NaN
rating                  4.5
review_count            127
Name: 2416, dtype: object
2417
category         korean
is_closed         False
latitude        34.0748
longitude      -118.309
name                NaN
rating              4.5
review_count         56
Name: 2417, dtype: object
2418
category        izakaya
is_closed         False
latitude        34.0666
longitude      -118.309
name                NaN
rating              4.5
review_count         19
Name: 2418, dtype: object
2419
category        foodtrucks
is_closed            False
latitude           34.0091
longitude         -118.257
name                   NaN
rating                 4.5
review_count           150
Name: 2419, dtype: object
2420
category        breakfast_brunch
is_closed                  False
latitude                 34.1015
longitude               -118.326
name                         NaN
rating                       4.5
review_count                 590
Name: 2420, dtype: object
2421
category            bbq
is_closed         False
latitude        34.1411
longitude      -118.376
name                NaN
rating              4.5
review_count        349
Name: 2421, dtype: object
2422
category          pizza
is_closed         False
latitude        34.0439
longitude      -118.252
name                NaN
rating              4.5
review_count        492
Name: 2422, dtype: object
2423
category        vietnamese
is_closed            False
latitude           34.0625
longitude         -118.236
name                   NaN
rating                 4.5
review_count           400
Name: 2423, dtype: object
2424
category        wine_bars
is_closed           False
latitude          34.0445
longitude         -118.24
name                  NaN
rating                4.5
review_count           97
Name: 2424, dtype: object
2425
category        italian
is_closed         False
latitude        34.0258
longitude      -118.284
name                NaN
rating              4.5
review_count         45
Name: 2425, dtype: object
2426
category         coffee
is_closed         False
latitude        34.0836
longitude      -118.362
name                NaN
rating              4.5
review_count        428
Name: 2426, dtype: object
2427
category          vegan
is_closed         False
latitude        34.0455
longitude      -118.251
name                NaN
rating              4.5
review_count        312
Name: 2427, dtype: object
2428
category        vietnamese
is_closed            False
latitude           34.0533
longitude         -118.309
name                   NaN
rating                 4.5
review_count           603
Name: 2428, dtype: object
2429
category          vegan
is_closed         False
latitude        34.1386
longitude      -118.367
name                NaN
rating              4.5
review_count       2294
Name: 2429, dtype: object
2430
category        cocktailbars
is_closed              False
latitude             34.0483
longitude           -118.242
name                     NaN
rating                   4.5
review_count             370
Name: 2430, dtype: object
2431
category         kosher
is_closed         False
latitude        34.0541
longitude      -118.381
name                NaN
rating              4.5
review_count        225
Name: 2431, dtype: object
2432
category        bubbletea
is_closed           False
latitude           34.073
longitude        -118.376
name                  NaN
rating                4.5
review_count          916
Name: 2432, dtype: object
2433
category        japanese
is_closed          False
latitude         34.0691
longitude       -118.407
name                 NaN
rating               4.5
review_count         238
Name: 2433, dtype: object
2434
category        falafel
is_closed         False
latitude         34.117
longitude      -118.262
name                NaN
rating              4.5
review_count        671
Name: 2434, dtype: object
2435
category           soup
is_closed         False
latitude        34.0665
longitude      -118.309
name                NaN
rating              4.5
review_count         10
Name: 2435, dtype: object
2436
category          ramen
is_closed         False
latitude        34.0584
longitude      -118.309
name                NaN
rating              4.5
review_count        206
Name: 2436, dtype: object
2437
category        newamerican
is_closed             False
latitude            34.0527
longitude          -118.248
name                    NaN
rating                  4.5
review_count            113
Name: 2437, dtype: object
2438
category        sportsbars
is_closed            False
latitude           34.0909
longitude         -118.278
name                   NaN
rating                 4.5
review_count           326
Name: 2438, dtype: object
2439
category           poke
is_closed         False
latitude         34.064
longitude      -118.284
name                NaN
rating              4.5
review_count        306
Name: 2439, dtype: object
2440
category        japanese
is_closed          False
latitude         34.0501
longitude       -118.242
name                 NaN
rating               4.5
review_count         181
Name: 2440, dtype: object
2441
category          vegan
is_closed         False
latitude        34.1286
longitude      -118.348
name                NaN
rating              4.5
review_count        453
Name: 2441, dtype: object
2442
category          pizza
is_closed         False
latitude        34.0475
longitude       -118.32
name                NaN
rating              4.5
review_count        196
Name: 2442, dtype: object
2443
category        mexican
is_closed         False
latitude        34.0508
longitude      -118.249
name                NaN
rating              4.5
review_count        981
Name: 2443, dtype: object
2444
category          delis
is_closed         False
latitude         33.988
longitude      -118.363
name                NaN
rating              4.5
review_count        726
Name: 2444, dtype: object
2445
category        chicken_wings
is_closed               False
latitude              34.0524
longitude            -118.305
name                      NaN
rating                    4.5
review_count               44
Name: 2445, dtype: object
2446
category          salad
is_closed         False
latitude         34.035
longitude      -118.284
name                NaN
rating              4.5
review_count        274
Name: 2446, dtype: object
2447
category          pizza
is_closed         False
latitude         34.074
longitude      -118.211
name                NaN
rating              4.5
review_count        459
Name: 2447, dtype: object
2448
category          greek
is_closed         False
latitude         34.104
longitude      -118.329
name                NaN
rating              4.5
review_count        258
Name: 2448, dtype: object
2449
category        mideastern
is_closed            False
latitude           34.1466
longitude         -118.253
name                   NaN
rating                 4.5
review_count          4287
Name: 2449, dtype: object
2450
category        japanese
is_closed          False
latitude         34.0473
longitude       -118.235
name                 NaN
rating               4.5
review_count          59
Name: 2450, dtype: object
2451
category        italian
is_closed         False
latitude        34.0651
longitude      -118.246
name                NaN
rating              4.5
review_count        993
Name: 2451, dtype: object
2452
category        caribbean
is_closed           False
latitude           34.017
longitude        -118.309
name                  NaN
rating                4.5
review_count          117
Name: 2452, dtype: object
2453
category          bars
is_closed        False
latitude         34.08
longitude      -118.26
name               NaN
rating             4.5
review_count       384
Name: 2453, dtype: object
2454
category         korean
is_closed         False
latitude        34.0522
longitude      -118.292
name                NaN
rating              4.5
review_count         34
Name: 2454, dtype: object
2455
category           bars
is_closed         False
latitude         34.074
longitude      -118.309
name                NaN
rating              4.5
review_count         57
Name: 2455, dtype: object
2456
category        desserts
is_closed          False
latitude         34.0636
longitude       -118.233
name                 NaN
rating               4.5
review_count          92
Name: 2456, dtype: object
2457
category        beerbar
is_closed         False
latitude        34.0584
longitude      -118.309
name                NaN
rating              4.5
review_count        180
Name: 2457, dtype: object
2458
category        mexican
is_closed         False
latitude        34.0471
longitude      -118.218
name                NaN
rating              4.5
review_count        415
Name: 2458, dtype: object
2459
category        japanese
is_closed          False
latitude         34.0836
longitude       -118.339
name                 NaN
rating               4.5
review_count         110
Name: 2459, dtype: object
2460
category           poke
is_closed         False
latitude        34.0685
longitude      -118.344
name                NaN
rating              4.5
review_count        221
Name: 2460, dtype: object
2461
category        cafeteria
is_closed           False
latitude          34.0513
longitude        -118.244
name                  NaN
rating                4.5
review_count           29
Name: 2461, dtype: object
2462
category        filipino
is_closed          False
latitude         34.0647
longitude       -118.265
name                 NaN
rating               4.5
review_count          41
Name: 2462, dtype: object
2463
category        foodstands
is_closed            False
latitude           34.0761
longitude         -118.258
name                   NaN
rating                 4.5
review_count           159
Name: 2463, dtype: object
2464
category        ethiopian
is_closed           False
latitude          34.0571
longitude        -118.364
name                  NaN
rating                4.5
review_count          335
Name: 2464, dtype: object
2465
category          ramen
is_closed         False
latitude        34.0906
longitude      -118.372
name                NaN
rating              4.5
review_count         28
Name: 2465, dtype: object
2466
category        newamerican
is_closed             False
latitude            34.0717
longitude          -118.365
name                    NaN
rating                  4.5
review_count            255
Name: 2466, dtype: object
2467
category        chinese
is_closed         False
latitude        34.0782
longitude      -118.257
name                NaN
rating              4.5
review_count        227
Name: 2467, dtype: object
2468
category        burgers
is_closed         False
latitude        34.0733
longitude      -118.218
name                NaN
rating              4.5
review_count        147
Name: 2468, dtype: object
2469
category         indpak
is_closed         False
latitude        34.0668
longitude      -118.376
name                NaN
rating              4.5
review_count        579
Name: 2469, dtype: object
2470
category         donuts
is_closed         False
latitude        34.0484
longitude      -118.241
name                NaN
rating              4.5
review_count        228
Name: 2470, dtype: object
2471
category        filipino
is_closed          False
latitude         34.1418
longitude       -118.221
name                 NaN
rating               4.5
review_count         171
Name: 2471, dtype: object
2472
category         french
is_closed         False
latitude        34.0625
longitude      -118.236
name                NaN
rating              4.5
review_count        123
Name: 2472, dtype: object
2473
category         korean
is_closed         False
latitude        34.0674
longitude      -118.309
name                NaN
rating              4.5
review_count         26
Name: 2473, dtype: object
2474
category        italian
is_closed         False
latitude         34.034
longitude      -118.229
name                NaN
rating              4.5
review_count       5857
Name: 2474, dtype: object
2475
category        southern
is_closed          False
latitude         34.0615
longitude        -118.24
name                 NaN
rating               4.5
review_count        5638
Name: 2475, dtype: object
2476
category        newamerican
is_closed             False
latitude            34.0481
longitude          -118.258
name                    NaN
rating                  4.5
review_count            353
Name: 2476, dtype: object
2477
category        chickenshop
is_closed             False
latitude            34.0881
longitude          -118.309
name                    NaN
rating                  4.5
review_count           2536
Name: 2477, dtype: object
2478
category        japanese
is_closed          False
latitude           34.05
longitude        -118.24
name                 NaN
rating               4.5
review_count        3536
Name: 2478, dtype: object
2479
category          delis
is_closed         False
latitude        34.0476
longitude      -118.317
name                NaN
rating              4.5
review_count       1337
Name: 2479, dtype: object
2480
category        brazilian
is_closed           False
latitude          34.0466
longitude        -118.256
name                  NaN
rating                4.5
review_count          200
Name: 2480, dtype: object
2481
category        italian
is_closed         False
latitude        34.1038
longitude      -118.287
name                NaN
rating              4.5
review_count        778
Name: 2481, dtype: object
2482
category        mideastern
is_closed            False
latitude           34.0415
longitude         -118.233
name                   NaN
rating                 4.5
review_count          1069
Name: 2482, dtype: object
2483
category          sushi
is_closed         False
latitude        34.0832
longitude      -118.273
name                NaN
rating              4.5
review_count        635
Name: 2483, dtype: object
2484
category        brazilian
is_closed           False
latitude          34.0614
longitude         -118.31
name                  NaN
rating                4.5
review_count         1981
Name: 2484, dtype: object
2485
category        italian
is_closed         False
latitude        34.0764
longitude      -118.349
name                NaN
rating              4.5
review_count       1726
Name: 2485, dtype: object
2486
category        newamerican
is_closed             False
latitude            34.0762
longitude          -118.257
name                    NaN
rating                  4.5
review_count             53
Name: 2486, dtype: object
2487
category        indonesian
is_closed            False
latitude             34.05
longitude         -118.243
name                   NaN
rating                 4.5
review_count           392
Name: 2487, dtype: object
2488
category        newamerican
is_closed             False
latitude            34.0837
longitude           -118.34
name                    NaN
rating                  4.5
review_count             72
Name: 2488, dtype: object
2489
category         french
is_closed         False
latitude        34.1054
longitude      -118.325
name                NaN
rating              4.5
review_count        439
Name: 2489, dtype: object
2490
category         korean
is_closed         False
latitude        34.0546
longitude      -118.291
name                NaN
rating              4.5
review_count        470
Name: 2490, dtype: object
2491
category        japanese
is_closed          False
latitude         34.0251
longitude       -118.412
name                 NaN
rating               4.5
review_count         693
Name: 2491, dtype: object
2492
category        chicken_wings
is_closed               False
latitude              34.0675
longitude             -118.31
name                      NaN
rating                    4.5
review_count              552
Name: 2492, dtype: object
2493
category          sushi
is_closed         False
latitude        34.0632
longitude      -118.297
name                NaN
rating              4.5
review_count        156
Name: 2493, dtype: object
2494
category           thai
is_closed         False
latitude        34.0688
longitude      -118.309
name                NaN
rating              4.5
review_count       1110
Name: 2494, dtype: object
2495
category         korean
is_closed         False
latitude        34.0575
longitude      -118.307
name                NaN
rating              4.5
review_count         93
Name: 2495, dtype: object
2496
category        mediterranean
is_closed               False
latitude              34.0893
longitude            -118.277
name                      NaN
rating                    4.5
review_count              383
Name: 2496, dtype: object
2497
category          pizza
is_closed         False
latitude        34.0732
longitude      -118.383
name                NaN
rating              4.5
review_count        457
Name: 2497, dtype: object
2498
category        japanese
is_closed          False
latitude         34.0472
longitude       -118.239
name                 NaN
rating               4.5
review_count         607
Name: 2498, dtype: object
2499
category        tapasmallplates
is_closed                 False
latitude                34.0941
longitude              -118.327
name                        NaN
rating                      4.5
review_count                282
Name: 2499, dtype: object
2500
category        seafood
is_closed         False
latitude        34.0477
longitude      -118.323
name                NaN
rating              4.5
review_count        832
Name: 2500, dtype: object
2501
category        japanese
is_closed          False
latitude         34.0983
longitude       -118.303
name                 NaN
rating               4.5
review_count         422
Name: 2501, dtype: object
2502
category          delis
is_closed         False
latitude        34.0561
longitude      -118.277
name                NaN
rating              4.5
review_count       3616
Name: 2502, dtype: object
2503
category        japanese
is_closed          False
latitude         34.0497
longitude        -118.24
name                 NaN
rating               4.5
review_count        1336
Name: 2503, dtype: object
2504
category        filipino
is_closed          False
latitude         34.0956
longitude       -118.293
name                 NaN
rating               4.5
review_count         941
Name: 2504, dtype: object
2505
category        newamerican
is_closed             False
latitude            34.0472
longitude          -118.247
name                    NaN
rating                  4.5

In [ ]:
for each in restaurant_data.head().iterrows():
    print(each[1]['longitude'],each[1]['latitude'])

In [100]:
%history

import folium
import pandas as pd
!pip install folium
import folium
import pandas as pd

import folium
import pandas as pd
la_coordinates = (34.0407, -118.2468)
restaurant_data = pd.read_csv('la_RESTAURANT_AND_MARKET_INSPECTIONS.csv')
#modules
import folium
import pandas as pd
import csv
la_coordinates = (34.0407, -118.2468)
restaurant_data = pd.read_csv('la_RESTAURANT_AND_MARKET_INSPECTIONS.csv')
restaurant_data.head()
la_coordinates = (34.0407, -118.2468)
restaurant_data = pd.read_csv('la_RESTAURANT_AND_MARKET_INSPECTIONS.csv')
restaurant_data.head()
# look for missing values
crime_df.count()
# look for missing values
restaurant_data.count()
# drop null rows
no_null_restaurant_data = restaurant_data.dropna(how='any')
# verify counts
no_null_crime_df.count()
# verify counts
no_null_restaurant_data.count()
# create a new variable to include only the data that are important for analysis

la_data = no_null_restaurant_data["PROGRAM NAME"]["FACILITY ZIP"]["SCORE"]["GRADE"]["long"]["lat"]
# create a new variable to include only the data that are important for analysis
# for speed purposes
MAX_RECORDS = 1000
# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
map = folium.Map(location=SF_COORDINATES, zoom_start=12)
# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
map = folium.Map(location=la_coordinates, zoom_start=12)
# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data[0:MAX_RECORDS].iterrows():
    map.simple_marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True)

display(map)
# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data[0:MAX_RECORDS].iterrows():
    map.simple_marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True).add_to(m)

display(map)
# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data[0:MAX_RECORDS].iterrows():
    folium.Marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True).add_to(m)

display(map)
# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data[0:MAX_RECORDS].iterrows():
    folium.Marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True).add_to(m)

display(map)
# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data[0:MAX_RECORDS].iterrows():
    folium.Marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True)

display(map)
# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data.iterrows():
    folium.Marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True)

display(map)
la_coordinates = (34.0407, -118.2468)
restaurant_data = pd.read_csv('la_RESTAURANT_AND_MARKET_INSPECTIONS.csv')
restaurant_data.head()
#modules
import folium
import pandas as pd
import csv
la_coordinates = (34.0407, -118.2468)
restaurant_data = pd.read_csv('la_RESTAURANT_AND_MARKET_INSPECTIONS.csv')
restaurant_data.head()
# look for missing values
restaurant_data.count()
# drop null rows
no_null_restaurant_data = restaurant_data.dropna(how='any')
# verify counts
no_null_restaurant_data.count()
# create Choropleth map with folium

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
map = folium.Map(location=la_coordinates, zoom_start=12)
# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data.iterrows():
    folium.Marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True)

display(map)
# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data.iterrows():
    folium.Marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True)

display(map)
#modules
import folium
import pandas as pd
import csv
import numpy as np


df_map = restaurant_data[np.isfinite(restaurant_data['EPS'])]


df_map = restaurant_data[np.isfinite(restaurant_data['NaN'])]

filtered_df = restaurant_data[restaurant_data['EPS'].notnull()]
df_no_missing = restaurant_data.dropna()
# add a marker for every record in the filtered data, use a clustered view
for each in df_no_missing.iterrows():
    folium.Marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True)

display(map)
# add a marker for every record in the filtered data, use a clustered view
for each in df_no_missing.iterrows():
    folium.Marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True)

display(map)

#save map
m.save('map.html')
# definition of the boundaries in the map ??
district_geo = r''

# add a marker for every record in the filtered data, use a clustered view
for each in df_no_missing.iterrows():
    folium.Marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True)

m = display(map)

#save map
m.save('map.html')
#modules
import folium
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt
#modules
import folium
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt

# Graphics in SVG format are more sharp and legible
%config InlineBackend.figure_format = 'svg'
#modules
import folium
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt
!pip install seaborn
import seaborn as sns
sns.set()

# Graphics in SVG format are more sharp and legible
%config InlineBackend.figure_format = 'svg'
df_no_missing = restaurant_data.dropna()

features = ['GRADE', 'SCORE']
df_no_missing[features].hist(figsize=(10, 4));
df_no_missing = restaurant_data.dropna()

features_score = ['GRADE', 'SCORE']
df_no_missing[features].hist(figsize=(10, 4));
features_grade = ['GRADE']
df_no_missing[features].hist(figsize=(10, 4));
df_no_missing = restaurant_data.dropna()
#A histogram groups values into bins of equal value range
#skewed right
features_score = ['GRADE']
df_no_missing[features].hist(figsize=(10, 4));
df_no_missing = restaurant_data.dropna()
#A histogram groups values into bins of equal value range
#skewed right
features_score = ['GRADE']
df_no_missing[features_score].hist(figsize=(10, 4));
df_no_missing = restaurant_data.dropna()
#A histogram groups values into bins of equal value range
#skewed right
features_score = ['GRADE']
df_no_missing[features].hist(figsize=(10, 4));
#There is also another, often clearer, way to grasp the distribution: density plots or, more formally, Kernel Density Plots
df_no_missing[features_score].plot(kind='density', subplots=True, layout=(1, 2),
                  sharex=False, figsize=(10, 4));
#There is also another, often clearer, way to grasp the distribution: density plots or, more formally, Kernel Density Plots
df_no_missing[features].plot(kind='density', subplots=True, layout=(1, 2),
                  sharex=False, figsize=(10, 4));
features_scores = ['Scores']
df_no_missing[features].hist(figsize=(10, 4));
df_no_missing[features].describe()
df_no_missing['SCORE'].describe()
df_no_missing['SCORE'].value_counts()
df_no_missing['SCORE'].value_counts()
_, axes = plt.subplots(nrows=1, ncols=2, figsize=(12, 4))
sns.countplot(x='SCORE', data=df, ax=axes[0]);
df_no_missing['SCORE'].value_counts()
_, axes = plt.subplots(nrows=1, ncols=2, figsize=(12, 4))
sns.countplot(x='SCORE', data=df_no_missing, ax=axes[0]);
df_no_missing['GRADE'].value_counts()
_, axes = plt.subplots(nrows=1, ncols=2, figsize=(12, 4))
sns.countplot(x='SCORE', data=df_no_missing, ax=axes[0]);
df_no_missing['GRADE'].value_counts()
_, axes = plt.subplots(nrows=1, ncols=2, figsize=(12, 4))
sns.countplot(x='GRADE', data=df_no_missing, ax=axes[0]);
df_no_missing['GRADE'].value_counts()
_, axes = plt.subplots(nrows=1, ncols=2, figsize=(12, 4))
sns.countplot(x='GRADE', data=df_no_missing, ax=axes[0]);
sns.countplot(x='SCORE', data=df, ax=axes[1]);
df_no_missing['GRADE'].value_counts()
_, axes = plt.subplots(nrows=1, ncols=2, figsize=(12, 4))
sns.countplot(x='GRADE', data=df_no_missing, ax=axes[0]);
sns.countplot(x='SCORE', data=df_no_missing, ax=axes[1]);
plt.scatter(df_no_missing['PROGRAM STATUS'], df_no_missing['SCORE']);
plt.scatter(df_no_missing['SCORE'], df_no_missing['FACILITY ZIP']);
pd.crosstab(df_no_missing['GRADE'], df_no_missing['PROGRAM STATUS'])
pd.crosstab(df_no_missing['GRADE'], df_no_missing['PROGRAM STATUS']);
pd.crosstab(df_no_missing['GRADE'], df_no_missing['PROGRAM STATUS']);
pd.crosstab(df_no_missing['GRADE'], df_no_missing['PROGRAM STATUS']);
pd.crosstab(df_no_missing['GRADE']);
pd.crosstab(df_no_missing['GRADE'])
pd.ply(df_no_missing['GRADE'])

restaurant_data = pd.read_csv('la_RESTAURANT_AND_MARKET_INSPECTIONS.csv')

la_coordinates = (34.0407, -118.2468)

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
map = folium.Map(location=la_coordinates, zoom_start=12)

# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data[0:MAX_RECORDS].iterrows():
    map.simple_marker(
        location = [each[1]['Y'],each[1]['X']],
        clustered_marker = True)

display(map)

restaurant_data.head()
restaurant_data = pd.read_csv('la_RESTAURANT_AND_MARKET_INSPECTIONS.csv')
restaurant_data.head()
for each in restaurant_data.head().iterrows():
    print(each)
for each in restaurant_data.head().iterrows():
    print(each['lat'])
for each in restaurant_data.head().iterrows():
    print(each[0]['lat'])
for each in restaurant_data.head().iterrows():
    print(each[long])
for each in restaurant_data.head().iterrows():
    print(each['long'])
for each in restaurant_data.head().iterrows():
    print(each[1]['long'])
for each in restaurant_data.head().iterrows():
    print(each[1]['long'],each[1]['lat'])

restaurant_data = pd.read_csv('la_RESTAURANT_AND_MARKET_INSPECTIONS.csv')

la_coordinates = (34.0407, -118.2468)

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
map = folium.Map(location=la_coordinates, zoom_start=12)

# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data.head().iterrows():
#     print(each[1]['long'],each[1]['lat'])
    map.simple_marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True)

display(map)

# restaurant_data.head()

restaurant_data = pd.read_csv('la_RESTAURANT_AND_MARKET_INSPECTIONS.csv')

la_coordinates = (34.0407, -118.2468)

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
map = folium.Map(location=la_coordinates, zoom_start=12)

# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data.iterrows():
#     print(each[1]['long'],each[1]['lat'])
    map.Marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True)

display(map)

# restaurant_data.head()

restaurant_data = pd.read_csv('la_RESTAURANT_AND_MARKET_INSPECTIONS.csv')

la_coordinates = (34.0407, -118.2468)

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
map = folium.Map(location=la_coordinates, zoom_start=12)

# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data.iterrows():
#     print(each[1]['long'],each[1]['lat'])
    folium.Marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True)

display(map)

# restaurant_data.head()
# definition of the boundaries in the map ??
#district_geo = r''

# add a marker for every record in the filtered data, use a clustered view
for each in df_no_missing.iterrows():
    folium.Marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True)

display(map)

#save map
m.save('map.html')

restaurant_data = pd.read_csv('la_RESTAURANT_AND_MARKET_INSPECTIONS.csv')

la_coordinates = (34.0407, -118.2468)

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
map = folium.Map(location=la_coordinates, zoom_start=12)

# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data.iterrows():
#     print(each[1]['long'],each[1]['lat'])
    map.folium.Marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True)

display(map)

# restaurant_data.head()

restaurant_data = pd.read_csv('la_RESTAURANT_AND_MARKET_INSPECTIONS.csv')

la_coordinates = (34.0407, -118.2468)

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
folium.Map(location=la_coordinates, zoom_start=12)

# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data.iterrows():
#     print(each[1]['long'],each[1]['lat'])
    folium.Marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True)

display(folium)

# restaurant_data.head()

restaurant_data = pd.read_csv('la_RESTAURANT_AND_MARKET_INSPECTIONS.csv')

la_coordinates = (-118.2468, 34.0407)

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
folium.Map(location=la_coordinates, zoom_start=12)

# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data.iterrows():
#     print(each[1]['long'],each[1]['lat'])
    folium.Marker(
        location = [each[1]['long'],each[1]['lat']],
        clustered_marker = True)

display(folium)

# restaurant_data.head()

restaurant_data = pd.read_csv('yelp_data.csv')

la_coordinates = (-118.2468, 34.0407)

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
folium.Map(location=la_coordinates, zoom_start=12)

# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data.iterrows():
#     print(each[1]['long'],each[1]['lat'])
    folium.Marker(
        location = [each[1]['longitude'],each[1]['latitude']],
        clustered_marker = True)

display(folium)

# restaurant_data.head()

restaurant_data = pd.read_csv('yelp_data.csv')

la_coordinates = (-118.2468, 34.0407)

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
folium.Map(location=la_coordinates, zoom_start=12)

# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data.iterrows():
#     print(each[1]['long'],each[1]['lat'])
    folium.Marker(
        location = [each[1]['longitude'],each[1]['latitude']],
        clustered_marker = True)

display(map)

# restaurant_data.head()

restaurant_data = pd.read_csv('yelp_data.csv')

la_coordinates = (-118.2468, 34.0407)

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
map = folium.Map(location=la_coordinates, zoom_start=12)

# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data.iterrows():
#     print(each[1]['long'],each[1]['lat'])
    map.simple_marker(
        location = [each[1]['longitude'],each[1]['latitude']],
        clustered_marker = True)

display(map)

# restaurant_data.head()

restaurant_data = pd.read_csv('yelp_data.csv')

la_coordinates = (-118.2468, 34.0407)

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
test = folium.Map(location=la_coordinates, zoom_start=12)

# add a marker for every record in the filtered data, use a clustered view
for each in restaurant_data.iterrows():
#     print(each[1]['long'],each[1]['lat'])
    test.simple_marker(
        location = [each[1]['longitude'],each[1]['latitude']],
        clustered_marker = True)

display(map)

# restaurant_data.head()

restaurant_data = pd.read_csv('yelp_data.csv')

la_coordinates = (-118.2468, 34.0407)

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
test = folium.Map(location=la_coordinates, zoom_start=12)

# add a marker for every record in the filtered data, use a clustered view
#for each in restaurant_data.iterrows():
#     print(each[1]['long'],each[1]['lat'])
#    test.simple_marker(
#        location = [each[1]['longitude'],each[1]['latitude']],
#        clustered_marker = True)

#display(map)

# restaurant_data.head()
!pipp install leafletjs
!pipp install leaflet
#modules
import folium
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt
!pip install seaborn
import seaborn as sns
sns.set()
# create Choropleth map with folium

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
map = folium.Map(location=la_coordinates, zoom_start=12)
# create Choropleth map with folium
restaurant_data = pd.read_csv('yelp_data.csv')

la_coordinates = (-118.2468, 34.0407)

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
map = folium.Map(location=la_coordinates, zoom_start=12)
# create Choropleth map with folium
restaurant_data = pd.read_csv('yelp_data.csv')

la_coordinates = (-118.2468, 34.0407)

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
map = folium.Map(location=la_coordinates, zoom_start=12)
print(map)
# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
test = folium.Map(location=la_coordinates, zoom_start=12)
# create Choropleth map with folium
restaurant_data = pd.read_csv('yelp_data.csv')
restaurant_data.head()

la_coordinates = (-118.2468, 34.0407)

# for speed purposes
MAX_RECORDS = 1000

# create empty map zoomed in on San Francisco
map = folium.Map(location=la_coordinates, zoom_start=12)
print(map)
%history